<cart-notification>
    <div id="cart-notification" class="cart-notification overflow-hidden bg-black transition-all bg-opacity-50 pointer-events-none shadow-lg h-screen pt-0 z-50 top-0 focus-inset fixed right-0 w-full" aria-modal="true" aria-label="{{ 'general.cart.item_added' | t }}" role="dialog" tabindex="-1">
        <div class="py-6 bg-white transition-transform duration-1000 pointer-events-auto lg:w-[420px] w-[80vw] absolute right-0 h-full flex flex-col gap-6">
            <div class="flex px-6 w-full">
                <div class="flex items-baseline space-x-3 py-2 border-b border-black w-full">
                    <button type="button" class="text-2xl " aria-label="{{ 'accessibility.close' | t }}">
                        <svg fill="none" height="1em" stroke-width="0.03em" stroke="currentColor" viewbox="0 0 8.14 14.74" width="1em" xmlns="http://www.w3.org/2000/svg">
                            <g>
                                <polyline points="0.74 14.07 6.79 7.41 0.74 0.67"></polyline>
                            </g>
                        </svg>
                    </button>
                    <div class="font-heading text-3xl">Shopping Cart</div>
                </div>
            </div>
            <div class="cart-notification-product flex-1 overflow-auto px-6 flex flex-col" id="cart-notification-product"></div>
            <div class="space-y-3 px-6">
                <a href="{{ routes.cart_url }}" id="cart-notification-button" class="button button--secondary button--full-width underline"></a>
                <div class="cart-notification__links flex gap-6 justify-between">
                    <form action="{{ routes.cart_url }}" method="post" id="cart" class="flex flex-1">
                        <button class="btn btn-outline flex-1" form="cart" name="checkout">{{ 'sections.cart.checkout' | t }}</button>
                    </form>
                    <button class="btn flex-1" type="button">{{ 'general.continue_shopping' | t }}</button>
                </div>
            </div>
        </div>
    </div>
</cart-notification>
{% style %}

.cart-notification {
    visibility: hidden;
    opacity: 0
}

.cart-notification > div {
    transform: translateX(100%);
}

.cart-notification.active {
    visibility: visible;
    opacity: 100
}

.cart-notification.active > div {
    transform: translateX(0%);
}

{% endstyle %}
