{%- liquid
    if use_variant
      assign target = product.selected_or_first_available_variant
    else
      assign target = product
    endif
  
    assign compare_at_price = target.compare_at_price
    assign price = target.price | default: 1999
    assign available = target.available | default: false
    assign money_price = price | money
    if settings.currency_code_enabled
      assign money_price = price | money_with_currency
    endif
  
    if target == product and product.price_varies
      assign money_price = 'products.product.price.from_price_html' | t: price: money_price
    endif
  -%}
{%- if compare_at_price > price %}
    {% assign sale_percent = product.compare_at_price | minus: product.price | times: 100.0 | divided_by: product.compare_at_price | ceil %}
{% endif -%}
<a href="{{product.url}}" class="flex-1">
    <div class="w-full relative hover:shadow-lg">
        <div class="pt-[100%]"></div>
        {% if sale_percent %}
            <div class="absolute max-w-[40%] p-[4%] top-0 right-0 flex transform -translate-y-1/2">
                <img class="w-full" src="{{ 'sale.png' | asset_img_url: '150px' }}" alt="sale"/>
                <div class="w-full h-full flex justify-center items-center absolute inset-0 text-3xl font-bold">
                    {{sale_percent}}%
                </div>
            </div>
        {% endif %}
        {% render 'image-full' ,image:product.images[0] %}
    </div>
    <div class="mt-6 px-8 flex gap-3 items-end">
        <div class="flex-1">
            <h4 class="text-xl lg:text-3xl">{{ product.title | escape }}</h4>
            <div class="flex flex-col gap-2 justify-between items-baseline">
                <div class="text-sm truncate">
                    {{product.tags | join: ', '}}
                </div>
                <div>
                    {% render '[product]-price' product:product  class: 'flex gap-x-3 truncate items-baseline flex-wrap justify-end' %}
                </div>
            </div>
        </div>
        {% render '[product]-quick-add' product:product class: '' %}
    </div>
</a>