
{% if image %}

{% else %}
  {% assign image = section.settings.image %}
{% endif %}
{% if image %}
<img class="object-cover w-full h-full absolute inset-0 "
        srcset="{%- if image.width >= 375 -%}{{ image | img_url: '375x' }} 375w,{%- endif -%}
          {%- if image.width >= 750 -%}{{ image | img_url: '750x' }} 750w,{%- endif -%}
          {%- if image.width >= 1100 -%}{{ image | img_url: '1100x' }} 1100w,{%- endif -%}
          {%- if image.width >= 1500 -%}{{ image | img_url: '1500x' }} 1500w,{%- endif -%}
          {%- if image.width >= 1780 -%}{{ image | img_url: '1780x' }} 1780w,{%- endif -%}
          {%- if image.width >= 2000 -%}{{ image | img_url: '2000x' }} 2000w,{%- endif -%}
          {%- if image.width >= 3000 -%}{{ image | img_url: '3000x' }} 3000w,{%- endif -%}
          {%- if image.width >= 3840 -%}{{ image | img_url: '3840x' }} 3840w,{%- endif -%}"
        src="{{ image | img_url: '1500x' }}"
        loading="lazy"
        alt="{{ image.alt | escape }}"
        width="{{ image.width }}"
        height="{{ image.width | divided_by: image.aspect_ratio }}">
{% else %}
  <div class="w-full h-full flex absolute inset-0 overflow-hidden p-12 justify-center items-center bg-gray-100 brightness-50">
    {{ 'collection-3' | placeholder_svg_tag }}
  </div>
{% endif %}
