<style>

/* form */

.Form_inputmain {
  width: 100%;
}

.Form_inputbox {
  position: relative;
}

.Form_input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding-top: 1.25rem;
  font-size: 16px;
  line-height: 19px;
  width: 100%;
  outline: none;
}

.Form_input,
.Form_label {
  padding-bottom: 0.5rem;
  letter-spacing: 0.06em;
}

.Form_label {
  pointer-events: none;
  position: absolute;
  top: 1.25rem;
  display: block;
  transform-origin: top left;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 17px;
  color: #828282;
  transform: translate(0) scale(1);
  transition: color 0.2s cubic-bezier(0, 0, 0.2, 1) 0ms,
        top 0.2s cubic-bezier(0, 0, 0.2, 1) 0ms;
}

.Form_inputunderline {
  border-bottom: 1px solid #222;
}

.Form_inputunderline:after {
  position: absolute;
  left: 0;
  right: 0;
  pointer-events: none;
  bottom: -0.05rem;
  content: "";
  transition: transform 0.2s cubic-bezier(0, 0, 0.2, 1) 0ms;
  transform: scaleX(0);
  border-bottom: 2px solid #000;
}

.Form_input:focus~.Form_inputunderline:after {
  transform: scaleX(1);
}

.Form_input::-moz-placeholder {
  color: transparent;
}

.Form_input:-ms-input-placeholder {
  color: transparent;
}

.Form_input::placeholder {
  color: transparent;
}

.Form_input:not(:-moz-placeholder-shown)+.Form_label {
  top: 0;
}

.Form_input:not(:-ms-input-placeholder)+.Form_label {
  top: 0;
}

.Form_input:focus+.Form_label,
.Form_input:not(:placeholder-shown)+.Form_label {
  top: 0;
}

.Form_input:not(:-moz-placeholder-shown)+.Form_label {
  transform: translate(0) scale(0.75);
  transform-origin: top left;
}

.Form_input:not(:-ms-input-placeholder)+.Form_label {
  transform: translate(0) scale(0.75);
  transform-origin: top left;
}

.Form_input:focus+.Form_label,
.Form_input:not(:placeholder-shown)+.Form_label {
  transform: translate(0) scale(0.75);
  transform-origin: top left;
}
  #recovery-form,
  #login-form {
    display: none;
  }

  input[name="form_toggle"]:checked+div #recovery-form {
    display: flex;
  }

  input[name="form_toggle"]:not(:checked)+div #login-form {
    display: flex;
  }

</style>

<input hidden name="form_toggle" id="form_toggle" type="checkbox" />
<div class="flex flex-col lg:grid lg:grid-cols-2 h-full w-full  lg:justify-center fit justify-start">
  <div id="recovery-form" class="h-full flex flex-1 order-2 lg:order-1">
    <div class="container mx-auto">
      <div class="max-w-sm mx-auto w-full flex flex-col justify-between">
        <div class="flex justify-center py-12">
          <h1 id="recovery" tabindex="-1" class="text-h4">
            FORGOT YOUR PASSWORD?
          </h1>
        </div>
        <div class="flex flex-col space-y-8">
          {%- form 'recover_customer_password', class:'flex flex-col space-y-8' -%}
          {% assign recover_success = form.posted_successfully? %}
          <div class="field Form_inputmain">
            <div class="Form_inputbox">
              <input class="Form_input" type="email" value="" name="email" id="RecoverEmail" required autocorrect="off"
                autocapitalize="off" autocomplete="email" {% if form.errors %} aria-invalid="true"
                aria-describedby="RecoverEmail-email-error" autofocus {% endif %}
                placeholder="{{ 'customer.login_page.email' | t }}">
              <label class="Form_label" for="RecoverEmail">
                {{ 'customer.login_page.email' | t }}
              </label>
              <div class="Form_inputunderline"></div>
            </div>
          </div>

          {%- if form.errors -%}
          <small id="RecoverEmail-email-error" class="form__message">
            <svg aria-hidden="true" focusable="false" role="presentation" viewBox="0 0 13 13">
              <circle cx="6.5" cy="6.50049" r="5.5" stroke="white" stroke-width="2" />
              <circle cx="6.5" cy="6.5" r="5.5" fill="#EB001B" stroke="#EB001B" stroke-width="0.7" />
              <path
                d="M5.87413 3.52832L5.97439 7.57216H7.02713L7.12739 3.52832H5.87413ZM6.50076 9.66091C6.88091 9.66091 7.18169 9.37267 7.18169 9.00504C7.18169 8.63742 6.88091 8.34917 6.50076 8.34917C6.12061 8.34917 5.81982 8.63742 5.81982 9.00504C5.81982 9.37267 6.12061 9.66091 6.50076 9.66091Z"
                fill="white" />
              <path
                d="M5.87413 3.17832H5.51535L5.52424 3.537L5.6245 7.58083L5.63296 7.92216H5.97439H7.02713H7.36856L7.37702 7.58083L7.47728 3.537L7.48617 3.17832H7.12739H5.87413ZM6.50076 10.0109C7.06121 10.0109 7.5317 9.57872 7.5317 9.00504C7.5317 8.43137 7.06121 7.99918 6.50076 7.99918C5.94031 7.99918 5.46982 8.43137 5.46982 9.00504C5.46982 9.57872 5.94031 10.0109 6.50076 10.0109Z"
                fill="white" stroke="#EB001B" stroke-width="0.7">
            </svg>
            {{ form.errors.messages['form'] }}
          </small>
          {%- endif -%}

          <button class="btn">
            SEND
          </button>

          <label for='form_toggle' class="btn btn-outline">
            RETURN TO LOGIN
          </label>
          {%- endform -%}
        </div>
      </div>
    </div>
  </div>
  <div id="login-form" class=" h-full flex flex-1 order-2 lg:order-1">
    <div class="container mx-auto">
      
      <div class="max-w-sm mx-auto w-full flex flex-col justify-between">
        <div class="flex justify-center py-12">
          <h1 id="login" tabindex="-1" class="text-h4">
            Sign in
          </h1>
        </div>
        <div class="flex flex-col space-y-8">
          {%- form 'customer_login', class:'flex flex-col space-y-8' -%}
          <input class="hidden" type="hidden" name="return_to" value="/account">
          {%- if form.errors -%}
          <h2 class="form__message text-red-600" tabindex="-1" autofocus>
            <span class="visually-hidden">{{ 'accessibility.error' | t }} </span>
            {{ 'templates.contact.form.error_heading' | t }}
          </h2>
          {{ form.errors | default_errors }}
          {%- endif -%}

          <div class="field Form_inputmain">
            <div class="Form_inputbox">
              <input required class="Form_input" type="email" name="customer[email]" id="CustomerEmail"
                autocomplete="email" autocorrect="off" autocapitalize="off" {% if form.errors contains 'form' %}
                aria-invalid="true" {% endif %} placeholder="{{ 'customer.login_page.email' | t }}">
              <label class="Form_label" for="CustomerEmail">
                {{ 'customer.login_page.email' | t }}
              </label>
              <div class="Form_inputunderline"></div>
            </div>

          </div>

          <div class=" Form_inputmain">
            <div class=" Form_inputbox">
              <input required class="Form_input" type="password" value="" name="customer[password]"
                id="CustomerPassword" autocomplete="current-password" {% if form.errors contains 'form' %}
                aria-invalid="true" {% endif %} placeholder="{{ 'customer.login_page.password' | t }}">
              <label class="Form_label" for="CustomerPassword">
                {{ 'customer.login_page.password' | t }}
              </label>
              <div class="Form_inputunderline"></div>
            </div>

          </div>
          <div class="space-y-2 flex flex-col">
            <label for='form_toggle' class="text-accents-7 underline uppercase hover:underline font-montserrat text-xs">
              FORGOT YOUR PASSWORD?
            </label>
            <button class="btn  w-full">
              {{ 'customer.login_page.sign_in' | t }}
            </button>
          </div>
          <div class="space-y-2 flex flex-col">
            <span href="#recover" class="text-accents-7  uppercase font-montserrat text-xs">
              NOT REGISTERED?
            </span>
            <a class="btn btn-outline  w-full" href="{{ routes.account_register_url }}">
              REGISTER NOW
            </a>
          </div>
          {%- endform -%}
        </div>
      </div>
    </div>
  </div>
  <div class="block w-full relative h-[261px] lg:h-full bg-accents-1 order-1 lg:flex-1">
    {% section 'image-with-text-2' %}
  </div>
</div>