<style>
  .Form_inputmain {
    width: 100%;
  }
  
  .Form_inputbox {
    position: relative;
  }
  
  .Form_input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding-top: 1.25rem;
    font-size: 16px;
    line-height: 19px;
    width: 100%;
    outline: none;
  }
  
  .Form_input,
  .Form_label {
    padding-bottom: 0.5rem;
    letter-spacing: 0.06em;
  }
  
  .Form_label {
    pointer-events: none;
    position: absolute;
    top: 1.25rem;
    display: block;
    transform-origin: top left;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 17px;
    color: #828282;
    transform: translate(0) scale(1);
    transition: color 0.2s cubic-bezier(0, 0, 0.2, 1) 0ms,
          top 0.2s cubic-bezier(0, 0, 0.2, 1) 0ms;
  }
  
  .Form_inputunderline {
    border-bottom: 1px solid #222;
  }
  
  .Form_inputunderline:after {
    position: absolute;
    left: 0;
    right: 0;
    pointer-events: none;
    bottom: -0.05rem;
    content: "";
    transition: transform 0.2s cubic-bezier(0, 0, 0.2, 1) 0ms;
    transform: scaleX(0);
    border-bottom: 2px solid #000;
  }
  
  .Form_input:focus~.Form_inputunderline:after {
    transform: scaleX(1);
  }
  
  .Form_input::-moz-placeholder {
    color: transparent;
  }
  
  .Form_input:-ms-input-placeholder {
    color: transparent;
  }
  
  .Form_input::placeholder {
    color: transparent;
  }
  
  .Form_input:not(:-moz-placeholder-shown)+.Form_label {
    top: 0;
  }
  
  .Form_input:not(:-ms-input-placeholder)+.Form_label {
    top: 0;
  }
  
  .Form_input:focus+.Form_label,
  .Form_input:not(:placeholder-shown)+.Form_label {
    top: 0;
  }
  
  .Form_input:not(:-moz-placeholder-shown)+.Form_label {
    transform: translate(0) scale(0.75);
    transform-origin: top left;
  }
  
  .Form_input:not(:-ms-input-placeholder)+.Form_label {
    transform: translate(0) scale(0.75);
    transform-origin: top left;
  }
  
  .Form_input:focus+.Form_label,
  .Form_input:not(:placeholder-shown)+.Form_label {
    transform: translate(0) scale(0.75);
    transform-origin: top left;
  }
    #recovery-form,
    #login-form {
      display: none;
    }
  </style>
<div class="flex flex-col lg:grid lg:grid-cols-2 h-full w-full  lg:justify-center fit justify-start">
  <div class="h-full flex flex-1 order-2 lg:order-1">
      <div class="container mx-auto">
          <div class="max-w-sm mx-auto w-full flex flex-col justify-between">
              <div class="flex justify-center py-12">
                  <h1 class="text-h4" id="login" tabindex="-1">
                      REGISTER
                  </h1>
              </div>
              <div class="flex flex-col space-y-8">
                  {%- form 'create_customer', class:'flex flex-col space-y-8' -%}
                      <input class="hidden" type="hidden" name="return_to" value="/account">
                      {%- if form.errors -%}
                          <h2 autofocus class="form__message" tabindex="-1">
                              <svg aria-hidden="true" focusable="false" role="presentation">
                                  <use href="#icon-error"/>
                              </svg>
                              {{ 'templates.contact.form.error_heading' | t }}
                          </h2>
                          <ul>
                              {%- for field in form.errors -%}
                                  <li>
                                      {%- if field == 'form' -%}
                                          {{ form.errors.messages[field] }}
                                      {%- else -%}
                                          <a href="#RegisterForm-{{ field }}">
                                              {{ form.errors.translated_fields[field] | capitalize }}
                                              {{ form.errors.messages[field] }}
                                          </a>
                                      {%- endif -%}
                                  </li>
                              {%- endfor -%}
                          </ul>
                      {%- endif -%}
                      <div class=" Form_inputmain">
                          <div class="field Form_inputbox">
                              <input type="text" class="Form_input" name="customer[first_name]" id="RegisterForm-FirstName" {% if form.first_name %} value="{{ form.first_name }}" {% endif %} autocomplete="given-name" placeholder="{{ 'customer.register.first_name' | t }}">
                              <label class="Form_label" for="RegisterForm-FirstName">
                                  {{ 'customer.register.first_name' | t }}
                              </label>
                              <div class="Form_inputunderline"></div>
                          </div>
                      </div>
                      <div class=" Form_inputmain">
                          <div class="field Form_inputbox">
                              <input type="text" class="Form_input" name="customer[last_name]" id="RegisterForm-LastName" {% if form.last_name %} value="{{ form.last_name }}" {% endif %} autocomplete="family-name" placeholder="{{ 'customer.register.last_name' | t }}">
                              <label class="Form_label" for="RegisterForm-LastName">
                                  {{ 'customer.register.last_name' | t }}
                              </label>
                              <div class="Form_inputunderline"></div>
                          </div>
                      </div>
                      <div class=" Form_inputmain">
                          <div class="field Form_inputbox">
                              <input type="email" class="Form_input" name="customer[email]" id="RegisterForm-email" {% if form.email %} value="{{ form.email }}" {% endif %} spellcheck="false" autocapitalize="off" autocomplete="email" aria-required="true" {% if form.errors contains 'email' %} aria-invalid="true" aria-describedby="RegisterForm-email-error" {% endif %} placeholder="{{ 'customer.register.email' | t }}">
                              <label class="Form_label" for="RegisterForm-email">
                                  {{ 'customer.register.email' | t }}
                              </label>
                              <div class="Form_inputunderline"></div>
                          </div>
                      </div>
                      {%- if form.errors contains 'email' -%}
                          <span class="form__message" id="RegisterForm-email-error">
                              <svg aria-hidden="true" focusable="false" role="presentation">
                                  <use href="#icon-error"/>
                              </svg>
                              {{ form.errors.translated_fields['email'] | capitalize }}
                              {{ form.errors.messages['email'] }}.
                          </span>
                      {%- endif -%}
                      <div class=" Form_inputmain">
                          <div class="field Form_inputbox">
                              <input type="password" class="Form_input" name="customer[password]" id="RegisterForm-password" aria-required="true" {% if form.errors contains 'password' %} aria-invalid="true" aria-describedby="RegisterForm-password-error" {% endif %} placeholder="{{ 'customer.register.password' | t }}">
                              <label class="Form_label" for="RegisterForm-password">
                                  {{ 'customer.register.password' | t }}
                              </label>
                              <div class="Form_inputunderline"></div>
                          </div>
                      </div>
                      {%- if form.errors contains 'password' -%}
                          <span class="form__message text-red-600" id="RegisterForm-password-error">
                              {{ form.errors.translated_fields['password'] | capitalize }}
                              {{ form.errors.messages['password'] }}.
                          </span>
                      {%- endif -%}
                      <div class="space-y-3 flex flex-col">
                          <label class="flex gap-1">
                              <input class="checkbox flex-shrink-0 checkbox-xs" name="customer[accepts_marketing]" type="checkbox">
                              <div class="text-xs">Sign up to the TessJean newsletter and receive 10% off your first purchase by signing up you agree to TessJean Terms of Service and Privacy Policy</div>
                          </label>
                          <button class="btn">
                              {{ 'customer.register.submit' | t }}
                          </button>
                      </div>
                     
                      <div class="space-y-2 flex flex-col">
                          <span href="#" class="text-accents-7  uppercase font-montserrat text-xs">
                              ALREADY SIGNED UP?
                          </span>
                          <a class="btn btn-outline w-full" href="{{ routes.account_login_url }}">
                              Sign in
                          </a>
                        </div>
                  {%- endform -%}
              </div>

              {%- if shop.checkout.guest_login -%}
                  <div>
                      <hr>
                      <h2>{{ 'customer.login_page.guest_title' | t }}</h2>

                      {%- form 'guest_login' -%}
                          <button>
                              {{ 'customer.login_page.guest_continue' | t }}
                          </button>
                      {%- endform -%}
                  </div>
              {%- endif -%}
          </div>
      </div>
  </div>
  <div class="hidden lg:block w-full relative h-[261px] lg:h-full bg-accents-1 order-1 lg:flex-1 bg-base-200">
      {% section 'image-with-text-2' %}
  </div>
</div>
