<style>
  .Form_inputmain {
    width: 100%;
  }
  
  .Form_inputbox {
    position: relative;
  }
  
  .Form_input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding-top: 1.25rem;
    font-size: 16px;
    line-height: 19px;
    width: 100%;
    outline: none;
  }
  
  .Form_input,
  .Form_label {
    padding-bottom: 0.5rem;
    letter-spacing: 0.06em;
  }
  
  .Form_label {
    pointer-events: none;
    position: absolute;
    top: 1.25rem;
    display: block;
    transform-origin: top left;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 17px;
    color: #828282;
    transform: translate(0) scale(1);
    transition: color 0.2s cubic-bezier(0, 0, 0.2, 1) 0ms,
          top 0.2s cubic-bezier(0, 0, 0.2, 1) 0ms;
  }
  
  .Form_inputunderline {
    border-bottom: 1px solid #222;
  }
  
  .Form_inputunderline:after {
    position: absolute;
    left: 0;
    right: 0;
    pointer-events: none;
    bottom: -0.05rem;
    content: "";
    transition: transform 0.2s cubic-bezier(0, 0, 0.2, 1) 0ms;
    transform: scaleX(0);
    border-bottom: 2px solid #000;
  }
  
  .Form_input:focus~.Form_inputunderline:after {
    transform: scaleX(1);
  }
  
  .Form_input::-moz-placeholder {
    color: transparent;
  }
  
  .Form_input:-ms-input-placeholder {
    color: transparent;
  }
  
  .Form_input::placeholder {
    color: transparent;
  }
  
  .Form_input:not(:-moz-placeholder-shown)+.Form_label {
    top: 0;
  }
  
  .Form_input:not(:-ms-input-placeholder)+.Form_label {
    top: 0;
  }
  
  .Form_input:focus+.Form_label,
  .Form_input:not(:placeholder-shown)+.Form_label {
    top: 0;
  }
  
  .Form_input:not(:-moz-placeholder-shown)+.Form_label {
    transform: translate(0) scale(0.75);
    transform-origin: top left;
  }
  
  .Form_input:not(:-ms-input-placeholder)+.Form_label {
    transform: translate(0) scale(0.75);
    transform-origin: top left;
  }
  
  .Form_input:focus+.Form_label,
  .Form_input:not(:placeholder-shown)+.Form_label {
    transform: translate(0) scale(0.75);
    transform-origin: top left;
  }
    #recovery-form,
    #login-form {
      display: none;
    }
  </style>
<div class="flex flex-col lg:grid lg:grid-cols-2 h-full w-full  lg:justify-center fit justify-start">
  <div class="h-full flex flex-1 order-2 lg:order-1">
      <div class="container">
          <nav aria-label="breadcrumbs" class=" pt-md mb-6 text-subtitle uppercase text-xs" role="navigation">
              <a class="text-effect-1" href="#" id="breadcrumb-home" title="Shop">Account</a>
              <span aria-hidden="true" class="divider ml-1">/</span>
              <span>RESET</span>
          </nav>
          <div class="max-w-sm mx-auto w-full flex flex-col justify-between">
              <div class="flex justify-center py-12">
                  <h1 class="text-h4" id="reset_password" tabindex="-1">
                      RESET YOUR PASSWORD?
                  </h1>
              </div>
              <div class="flex flex-col space-y-8">
                  {%- form 'reset_customer_password' -%}
                      {%- if form.errors -%}
                          <h2 autofocus class="form__message" tabindex="-1">
                              <span class="visually-hidden">{{ 'accessibility.error' | t }}
                              </span>
                              <svg aria-hidden="true" focusable="false" role="presentation">
                                  <use href="#icon-error"/>
                              </svg>
                              {{ 'templates.contact.form.error_heading' | t }}
                          </h2>
                          <ul>
                              {%- for field in form.errors -%}
                                  <li>
                                      {%- if field == 'form' -%}
                                          {{ form.errors.messages[field] }}
                                      {%- else -%}
                                          <a href="#{{ field }}">
                                              {{ form.errors.translated_fields[field] | capitalize }}
                                              {{ form.errors.messages[field] }}
                                          </a>
                                      {%- endif -%}
                                  </li>
                              {%- endfor -%}
                          </ul>
                      {%- endif -%}
                      <div class=" Form_inputmain">
                          <div class="field Form_inputbox">
                              <input class="Form_input" required type="password" name="customer[password]" id="password" autocomplete="new-password" {% if form.errors contains 'password' %} aria-invalid="true" aria-describedby="password-error" {% endif %} placeholder="{{ 'customer.reset_password.password' | t }}">
                              <label class="Form_label" for="password">
                                  {{ 'customer.reset_password.password' | t }}
                              </label>
                              {%- if form.errors contains 'password' -%}
                                  <small class="form__message text-red-600" id="password-error">
                                      {{ form.errors.translated_fields['password'] | capitalize }}
                                      {{ form.errors.messages['password'] }}
                                  </small>
                              {%- endif -%}
                              <div class="Form_inputunderline"></div>
                          </div>
                      </div>

                      <div class=" Form_inputmain">
                          <div class="field Form_inputbox">
                              <input class="Form_input" required type="password" name="customer[password_confirmation]" id="password_confirmation" autocomplete="new-password" {% if form.errors contains 'password_confirmation' %} aria-invalid="true" aria-describedby="password_confirmation-error" {% endif %} placeholder="{{ 'customer.reset_password.password_confirm' | t }}">
                              <label class="Form_label" for="password_confirmation">
                                  {{ 'customer.reset_password.password_confirm' | t }}
                              </label>
                              {%- if form.errors contains 'password_confirmation' -%}
                                  <small class="form__message text-red-600" id="password_confirmation-error">
                                      {{ form.errors.translated_fields['password_confirmation'] | capitalize }}
                                      {{ form.errors.messages['password_confirmation'] }}
                                  </small>
                              {%- endif -%}
                              <div class="Form_inputunderline"></div>
                          </div>
                      </div>

                      <button class="btn">
                          {{ 'customer.reset_password.submit' | t }}
                      </button>
                  {%- endform -%}
              </div>

          </div>
      </div>
  </div>
  <div class="block w-full relative h-[261px] lg:h-full bg-accents-1 order-1 lg:flex-1">
    {% section 'image-with-text-2' %}
  </div>
</div>
