<div id="{{ section.id }}" class="mt-16">
    <div class="page-width flex items-center">
        <div class="flex-1 px-12">
            <div class="mb-2 text-xl">{{section.settings.sub_heading}}</div>
            <h2 class="text-6xl">{{section.settings.heading}}</h2>
            <button class="btn btn-lg rounded-none bg-black text-white mt-6">SHOP All</button>
        </div>
        <div class="flex-1 py-4">
            <div>{{section.settings.description}}</div>
        </div>
    </div>
    <div class="mt-8">
        <div class="carousel carousel-center space-x-6 page-width">
            {% for i in (1..6) %}
                <div class="carousel-item py-8">
                    <div class="w-[20vw] relative hover:shadow-lg transition-transform hover:scale-110">
                        <div class="pt-[145%]"></div>
                        <div class="w-full h-full flex absolute inset-0 justify-center items-center bg-gray-100">
                            {{ 'collection-3' | placeholder_svg_tag }}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>

{% schema %}
{
    "name": "Featured 2",
    "tag": "section",
    "settings": [
        {
            "type": "text",
            "id": "heading",
            "label": "Heading",
            "default":"Categories"
        },
        {
            "type": "text",
            "id": "sub_heading",
            "label": "Sub Heading",
            "default":"SHOP BY"
        },
        {
            "type": "richtext",
            "id": "description",
            "label": "Description",
            "default":"<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, </p>"
        }
    ],
    "blocks": [
        {
            "type": "article",
            "name": "Article",
            "settings": [
                {
                    "type": "article",
                    "id": "article",
                    "label": "Article"
                }
            ]
        }
    ],
    "presets": [
        {
            "name": "Featured 2",
            "blocks": []
        }
    ]
}
{% endschema %}