{% assign shop_name = shop.name %}

<link rel="stylesheet" href="{{ 'component-list-menu.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-search.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-menu-drawer.css' | asset_url }}" media="print" onload="this.media='all'">
<!-- <link rel="stylesheet" href="{{ 'component-cart-notification.css' | asset_url }}" media="print" onload="this.media='all'"> -->

<noscript>{{ 'component-list-menu.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-search.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-menu-drawer.css' | asset_url | stylesheet_tag }}</noscript>
<!-- <noscript>{{ 'component-cart-notification.css' | asset_url | stylesheet_tag }}</noscript> -->
<style>
  /* Icon 1 */
  .nav-icon {
    width: 20px;
    height: 15px;
    position: relative;
    margin: auto;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
  }

  .nav-icon span,
  #nav-icon3 span,
  #nav-icon4 span {
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    background: rgb(var(--color-foreground));
    border-radius: 3px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
    -webkit-transition-delay: 0.2s, 0s;
    transition-delay: 0.2s, 0s;
  }

  .nav-icon span:nth-child(1) {
    top: 0px;
  }

  .nav-icon span:nth-child(2) {
    top: 6px;
  }

  .nav-icon span:nth-child(3) {
    top: 12px;
  }

  .menu-opening .nav-icon span:nth-child(1) {
    top: 6px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
  }

  .menu-opening .nav-icon span:nth-child(2) {
    opacity: 0;
    left: -20px;
  }

  .menu-opening .nav-icon span:nth-child(3) {
    top: 6px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
  }
</style>
<style>
  { % if section.settings.enable_sticky_header % }

  #shopify-section-header {
    position: sticky;
    top: 0;
  }

  { % endif % }

  header-drawer {
    justify-self: start;
  }



  .menu-drawer-container {
    display: flex;
  }

  .menu-drawer-overlay {
    display: block !important;
    content: "";
    visibility: visible;
    position: absolute;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    background-color: #fff;
    opacity: 0.7;
    visibility: hidden;
    transition: visibility 0.2s ease-in-out;
  }

  .menu-opening .menu-drawer-overlay {
    visibility: visible;
  }

  .list-menu {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .list-menu--inline {
    display: inline-flex;
    flex-wrap: wrap;
  }


  .list-menu__item {
    display: flex;
    align-items: center;
    line-height: 1.3;
  }

  .list-menu__item--link {
    text-decoration: none;
    line-height: 1.8;
  }

  body {
    transition: transform 0.2s ease-in;
  }

  .overflow-hidden-tablet {
    transform: translateX(-300px);
  }

  #menu-drawer {
    /* display: none; */
    overflow: hidden;
    border: none;
    padding: 0;
    width: 0;
  }

  .overflow-hidden-tablet #menu-drawer {
    position: fixed;
    display: block;
    width: 300px;
    top: 0;
    transform: translateY(0);
    visibility: visible;
  }

  .menu-drawer__inner-container {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
    visibility: hidden;
    transition: all 0.5s ease 0.2s;
  }

  .overflow-hidden-tablet .menu-drawer .menu-drawer__inner-container {
    opacity: 1;
    visibility: visible;
    transform: translate3d(0, 0, 0);
  }
</style>
<style>
  #PopupModal-search>* {
    transform: translateY(-100%);
    transition: transform 0.7s cubic-bezier(1, 0, 0.28, 1);
    pointer-events: none;
  }

  #PopupModal-search[open]>* {
    transform: translateY(0);
    pointer-events: auto;
  }
  .shopify-section-header-hidden sticky-header {
    transform: translateY(-100%);
  }
  .shopify-section-header-hidden #drawer-modal-btn{
    --tw-translate-y: 30px
  }
</style>
<script src="{{ 'details-disclosure.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'details-modal.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'cart-notification.js' | asset_url }}" defer="defer"></script>

<svg xmlns="http://www.w3.org/2000/svg" class="hidden">
  <symbol id="icon-search" viewbox="0 0 18 19" fill="none">
    <path fill-rule="evenodd" clip-rule="evenodd"
      d="M11.03 11.68A5.784 5.784 0 112.85 3.5a5.784 5.784 0 018.18 8.18zm.26 1.12a6.78 6.78 0 11.72-.7l5.4 5.4a.5.5 0 11-.71.7l-5.41-5.4z"
      fill="currentColor" />
  </symbol>
  <symbol id="icon-close" class="icon icon-close" fill="none" viewBox="0 0 18 17">
    <path
      d="M.865 15.978a.5.5 0 00.707.707l7.433-7.431 7.579 7.282a.501.501 0 00.846-.37.5.5 0 00-.153-.351L9.712 8.546l7.417-7.416a.5.5 0 10-.707-.708L8.991 7.853 1.413.573a.5.5 0 10-.693.72l7.563 7.268-7.418 7.417z"
      fill="currentColor">
  </symbol>
</svg>
<{% if section.settings.enable_sticky_header %}sticky-header{% else %}div{% endif %}
  class="bg-base-100 block bg-opacity-90 w-full relative z-10 border-b border-gray-300 transition-transform">
  <header
    class="header h-header flex justify-between container mx-auto items-end ">
    {%- if section.settings.logo_position == 'top-center' or section.settings.menu == blank -%}
    {%- endif -%}
    <h1 class="header__heading flex justify-center lg:order-2">
      <a href="{{ routes.root_url }}" class="flex items-center focus-inset w-[120px]  py-4">
      {%- if section.settings.logo != blank -%}
        {%- assign image_size = section.settings.logo_width | append: 'x' -%}
        <img
          srcset="{{ section.settings.logo | img_url: image_size }} 1x, {{ section.settings.logo | img_url: image_size, scale: 2 }} 2x"
          src="{{ section.settings.logo | img_url: image_size }}" loading="lazy" class="header__heading-logo"
          width="{{ section.settings.logo.width }}" height="{{ section.settings.logo.height }}"
          alt="{{ section.settings.logo.alt | default: shop_name | escape }}">
        {%- else -%}
        <img
          src="/assets/logo.png" loading="lazy" class="header__heading-logo ]"
          width="256" height="131"
          alt="{{ shop_name | escape }}">
      {% endif %}
      </a>
    </h1>

    {%- if section.settings.menu != blank -%}
    <nav class=" h-full hidden xl:!block lg:flex-1 order-1">
      <ul class="h-full flex space-x-8"  role="list">
        <li class="flex items-center relative">
          <div class="h-full group ">
            <div
              class=" h-full focus-inset text-effect-1 text-gray-600 hover:text-black font-semibold uppercase flex items-center ">
              <span >Shop</span>
            </div>
            <div class="fixed  z-[-1] bg-base-100 pt-header top-header group-hover:top-0 left-0 w-full pointer-events-none opacity-0 transform invisible  transition-all duration-500 group-hover:visible group-hover:opacity-100 ">
              <div class="w-full border-t border-black border-b ">
                <div class="container mx-auto py-12 pb-20  pointer-events-auto ">
                  <div class="text-center tracking-[0.5em] text-lg">SHOP BY</div>
                  <div class="w-full mt-10 flex space-x-6 lg:gap-12">
                    {% for collection in collections %}
                    <div class="flex-1">
                      <div class="font-heading text-3xl border-black">
                        <a class="font-heading text-effect-1 pb-3" href="{{collection.url}}">{{collection.title }}</a>
                      </div>
                      <div class="h-px w-full bg-neutral"></div>
                      <ul class="flex flex-col space-y-4 mt-6">
                        {% for tag in collection.tags %}
                          <li>
                            <div class="text-effect-1">
                              {{ tag | link_to_tag: tag }}
                            </div>
                          </li>
                        {% endfor %}
                      </ul>
                    </div>
                    {% endfor %}
                  </div>
                </div>
              </div>
              
            </div>
          </div>
        </li>
        {%- for link in section.settings.menu.links -%}
        <li class="flex items-center relative">
          {%- if link.links != blank -%}
          <div class="h-full group  ">
            <div
              class=" h-full focus-inset text-effect-1 text-gray-600 hover:text-black font-semibold uppercase flex items-center ">
              <span {%- if link.child_active %} class="text-base-accent-1" {% endif %}>{{ link.title | escape
                }}</span>
            </div>
            <ul
              class=" transform invisible absolute top-[100%] left-0  opacity-0 transition-opacity duration-500 group-hover:visible group-hover:opacity-100 bg-black text-white py-3"
              role="list" tabindex="-1">
              {%- for childlink in link.links -%}
              <li class="group-one relative">
                {%- if childlink.links == blank -%}
                <a href="{{ childlink.url }}"
                  class="flex truncate px-6 py-3 min-w-[200px] font-semibold text-gray-400 hover:text-white text-xl"
                  {% if childlink.current %} aria-current="page" {% endif %}>
                  {{ childlink.title | escape }}
                </a>
                {%- else -%}
                <div
                  class="truncate px-6 py-3 min-w-[200px]  font-semibold text-gray-400 hover:text-white text-xl flex justify-between">
                  {{ childlink.title | escape }}
                  <div class="transform -rotate-90">
                    {% render 'icon-caret' %}
                  </div>
                </div>
                <ul
                  class="transform invisible absolute left-[100%] -top-3  opacity-0 transition-opacity duration-500 group-one-hover:visible group-one-hover:opacity-100 bg-black text-white py-3">
                  {%- for grandchildlink in childlink.links -%}
                  <li>
                    <a href="{{ grandchildlink.url }}"
                      class="flex truncate px-6 py-3 min-w-[200px] font-semibold text-gray-400 hover:text-white text-xl"
                      {% if grandchildlink.current %} aria-current="page" {% endif %}>
                      {{ grandchildlink.title | escape }}
                    </a>
                  </li>
                  {%- endfor -%}
                </ul>
                {%- endif -%}
              </li>
              {%- endfor -%}
            </ul>
          </div>
          {%- else -%}
          <a href="{{ link.url }}"
            class=" h-full focus-inset text-effect-1 text-gray-600 hover:text-black font-semibold uppercase flex items-center" {%
            if link.current %} aria-current="page" {% endif %}>
            <span {%- if link.current %} class="header__active-menu-item" {% endif %}>{{ link.title | escape }}</span>
          </a>
          {%- endif -%}
        </li>
        {%- endfor -%}
  
      </ul>
    </nav>
    {%- endif -%}

    <div class="header__icons gap-6 lg:gap-10 flex items-center lg:flex-1 order-3 justify-end">
      <div class=" flex items-center group relative h-header">
        <label class="z-10 cursor-pointer">
            <div class="relative flex justify-end ">
                <div class="pointer-events-none z-30 text-[2.4rem]">
                    <svg fill="none" height="1em" stroke="currentColor" viewBox="0 0 24 24" width="1em" xmlns="http://www.w3.org/2000/svg">
                        <path d="M20.0001 19.9998L15.7334 15.7332" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"></path>
                        <path d="M10.8571 17.7143C14.6442 17.7143 17.7143 14.6442 17.7143 10.8571C17.7143
                                                                                                                             7.07005 14.6442 4 10.8571 4C7.07005 4 4 7.07005 4 10.8571C4 14.6442 7.07005
                                                                                                                             17.7143 10.8571 17.7143Z" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"></path>
                    </svg>
                </div>
            </div>
            <div class="fixed bg-white px-6 lg:px-0 top-header focus-within:w-full left-0 lg:left-auto right-0 w-full lg:bg-transparent lg:absolute pointer-events-none lg:top-0 lg:-right-2 lg:focus-within:w-80
                                                         focus-within:h-auto lg:w-3 h-3 focus-within:pointer-events-auto transform opacity-0
                                                         focus-within:block focus-within:opacity-100 mt-8 focus-within:mt-0 transition-all
                                                         duration-300 ease-in-out">
                <form action="/search" class="h-header flex items-center" method="GET">
                    <input autocomplete="none" class="lg:w-full py-2 shadow-inner border border-accents-3 px-12 focus-within:w-full lg:focus:w-80 focus:outline-none rounded-full bg-accents-0 transition-all duration-300 ease-in-out" id="q" name="q">
                </form>
                    <div class="bg-white px-12 shadow-lg bg-accents-0 flex flex-col py-6 relative object-center space-y-3">
                        <div class="font-bold font-heading">Quick links</div>
                        
                        <div class="leading-extra-loose flex flex-col items-start space-y-3">
                            <a class="inline-block text-sm text-effect-1 uppercase" href="/collections/001-softlines">001 softlines</a>    
                        </div>
                        
                        <div class="leading-extra-loose flex flex-col items-start space-y-3">
                            <a class="inline-block text-sm text-effect-1 uppercase" href="/collections/002-lar-ma">002 lar ma</a>    
                        </div>
                        
                        <div class="leading-extra-loose flex flex-col items-start space-y-3">
                            <a class="inline-block text-sm text-effect-1 uppercase" href="/collections/xeo-x%E1%BB%8D">Xéo Xọ</a>    
                        </div>
                        
                    </div>
                
               
            </div>
        </label>
      </div>
        <a href="{{ routes.cart_url }}" class="text-[2.4rem] relative" id="cart-icon-bubble">
          {%- liquid
          if cart == empty
          render 'icon-cart-empty'
          else
          render 'icon-cart'
          endif
          -%}
          <span class="visually-hidden">{{ 'templates.cart.cart' | t }}</span>
          {%- if cart != empty -%}
          <div class="cart-count-bubble px-1 transform translate-x-1/2  absolute top-0 right-0 bg-black text-white text-sm rounded-full">
    {%- if cart.item_count < 100 -%}
        <span aria-hidden="true">{{ cart.item_count }}</span>
    {% else %}
        <span aria-hidden="true">99+</span>
    {%- endif -%}
    <span class="visually-hidden">{{ 'sections.header.cart_count' | t: count: cart.item_count }}</span>
</div>
          {%- endif -%}
        </a>
        {%- if shop.customer_accounts_enabled -%}
        <a class="text-[2.4rem]" href="{%- if customer -%}{{ routes.account_url }}{%- else -%}{{ routes.account_login_url }}{%- endif -%}"
          class="header__icon header__icon--account link  focus-inset">
          {% render 'icon-user' %}
          <span class="visually-hidden">
            {%- liquid
            if customer
            echo 'customer.account_fallback' | t
            else
            echo 'customer.log_in' | t
            endif
            -%}
          </span>
        </a>
        {%- endif -%}
        <div class="group relative">
          <label class="z-10">
              {% render 'localization-form' %}
          </label>
        </div>
    </div>
    <modal-opener class="no-js-hidden lg:hidden" data-modal="#drawer-modal">
      <div id="drawer-modal-btn" class="absolute top-full left-1/2 transform -translate-x-1/2 -translate-y-1/2">
      <button
          class=" cursor-pointer w-14 h-14 bg-base-100 shadow-lg rounded-full border flex justify-center text-3xl items-center relative transition ease-in-out uration-100 outline-none z-10"
          tabindex="-1">
          <svg fill="none" height="1em" stroke="currentColor" viewbox="0 0 24 24" width="1em"
              xmlns="http://www.w3.org/2000/svg">
              <path d="M2.00195 9H22.9997" stroke-linecap="round" stroke-linejoin="round">
              </path>
              <path d="M2 15H22.9925" stroke-linecap="round" stroke-linejoin="round"></path>
          </svg>
      </button>
    </div>
    </modal-opener>
  </header>
</{% if section.settings.enable_sticky_header %}sticky-header{% else %}div{% endif %}>


<modal-dialog class="drawer-modal transition-all duration-300 ease-in-out" id="drawer-modal" tabindex="-1">
  <style>
      .drawer-modal {
          box-sizing: border-box;
          opacity: 0;
          position: fixed;
          visibility: hidden;
          z-index: -1;
          margin: 0 auto;
          height: 100vh;
          top: 0;
          left: 0;
          overflow: auto;
          width: 100%;
          background: rgba(0, 0, 0, var(--tw-bg-opacity));
          --tw-bg-opacity: 0.5;
      }

      .drawer-modal[open] {
          opacity: 1;
          visibility: visible;
          z-index: 101;
      }

      .Sidebar_root {
          pointer-events: none;
          position: fixed;
          width: 100%;
          max-width: 320px;
          top: 0;
          z-index: 50;
          height: 100vh;
          width: 100%;
          overflow: hidden;
          touch-action: none;
      }

      .Sidebar_root .Sidebar_sidebar {
          background: white;
          position: absolute;
          top: 0;
          bottom: 0;
          display: flex;
          width: 100%;
          max-width: 100%;
          opacity: 0;
          outline: 2px solid transparent;
          outline-offset: 2px;
      }

      .drawer-modal[open] .Sidebar_root {
          pointer-events: auto;
          transform: translateX(0%);
      }

      .drawer-modal[open] .Sidebar_root .Sidebar_sidebar {
          opacity: 1;
      }

      .Sidebar_root.Sidebar_left,
      .Sidebar_root.Sidebar_left .Sidebar_sidebar {
          left: 0;
      }

      @media(min-width: 640px) {
          .Sidebar_root.Sidebar_left .Sidebar_sidebar {
              ;
              /* padding-right: 4rem; */
          }
      }

      .Sidebar_root.Sidebar_left .Sidebar_sidebar {
          -webkit-animation: Sidebar_sidebaranimationClose 0.3s ease-in-out;
          animation: Sidebar_sidebaranimationClose 0.3s ease-in-out;
      }

      .drawer-modal[open] .Sidebar_root.Sidebar_left .Sidebar_sidebar {
          -webkit-animation: Sidebar_sidebaranimationOpen 0.3s ease-in-out;
          animation: Sidebar_sidebaranimationOpen 0.3s ease-in-out;
      }
      .modal-content{
        display: none!important;
      }
      .drawer-modal[open] .modal-content{
        display: block!important;
      }
      @-webkit-keyframes Sidebar_sidebaranimationOpen {
          0% {
              opacity: 0;
              transform: translateX(-100%);
          }

          to {
              opacity: 1;
              transform: translateX(0);
          }
      }

      @keyframes Sidebar_sidebaranimationOpen {
          0% {
              opacity: 0;
              transform: translateX(-100%);
          }

          to {
              opacity: 1;
              transform: translateX(0);
          }
      }

      @-webkit-keyframes Sidebar_sidebaranimationClose {
          0% {
              opacity: 1;
              transform: translateX(0);
          }

          to {
              opacity: 0;
              transform: translateX(-100%);
          }
      }

      @keyframes Sidebar_sidebaranimationClose {
          0% {
              opacity: 1;
              transform: translateX(0);
          }

          to {
              opacity: 0;
              transform: translateX(-100%);
          }
      }
  </style>
  <div class="Sidebar_root Sidebar_left">
      <button id="ModalClose-drawer-modal" type="button" class="hidden"
          aria-label="{{ 'accessibility.close' | t }}"></button>
      <div class="absolute inset-0 overflow-hidden">
          <section class="Sidebar_sidebar w-full flex flex-col">
            <div class="h-header flex items-center px-12 ">
              <modal-closer data-modal="#drawer-modal">
                <button class="flex gap-3 font-bold font-heading text-2xl items-end leading-none">
                  <svg class="text-3xl transform rotate-180" width="1em" height="1em" fill="none" stroke-width="0.03em" stroke="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8.14 14.74"><g><polyline points="0.74 14.07 6.79 7.41 0.74 0.67"></polyline></g></svg>
                  Back
                </button>
              </modal-closer>
              
            </div>
            <div  class="flex-1 modal-content w-full">
              <ul class="flex flex-col items-end px-12 gap-12">
                <li style="animation-delay: 300ms;" class="flex items-center relative animate__animated animate__fadeInUp">
                  <div class="h-full group ">
                    <div
                      class=" text font-heading text-5xl text-base-accent-1">
                      <span >Shop</span>
                    </div>
                  </div>
                </li>
                {%- for link in section.settings.menu.links -%}
                  <li style="animation-delay: {{3|plus:forloop.index}}00ms;" class="flex items-center relative justify-end animate__animated animate__fadeInUp">
                    {%- if link.links != blank -%}
                    <div class="h-full group  ">
                      <div
                        class=" text-base-accent-1 text font-heading text-5xl">
                        <span {%- if link.child_active %} class="underline" {% endif %}>{{ link.title | escape
                          }}</span>
                      </div>
                      <ul
                        class=" transform invisible absolute top-[100%] left-0  opacity-0 transition-opacity duration-500 group-hover:visible group-hover:opacity-100 bg-black text-white py-3"
                        role="list" tabindex="-1">
                        {%- for childlink in link.links -%}
                        <li class="group-one relative">
                          {%- if childlink.links == blank -%}
                          <a href="{{ childlink.url }}"
                            class="flex truncate px-6 py-3 min-w-[200px] font-semibold text-gray-400 hover:text-white text-xl"
                            {% if childlink.current %} aria-current="page" {% endif %}>
                            {{ childlink.title | escape }}
                          </a>
                          {%- else -%}
                          <div
                            class="truncate px-6 py-3 min-w-[200px]  font-semibold text-gray-400 hover:text-white text-xl flex justify-between">
                            {{ childlink.title | escape }}
                            <div class="transform -rotate-90">
                              {% render 'icon-caret' %}
                            </div>
                          </div>
                          <ul
                            class="transform invisible absolute left-[100%] -top-3  opacity-0 transition-opacity duration-500 group-one-hover:visible group-one-hover:opacity-100 bg-black text-white py-3">
                            {%- for grandchildlink in childlink.links -%}
                            <li>
                              <a href="{{ grandchildlink.url }}"
                                class="flex truncate px-6 py-3 min-w-[200px] font-semibold text-gray-400 hover:text-white text-xl"
                                {% if grandchildlink.current %} aria-current="page" {% endif %}>
                                {{ grandchildlink.title | escape }}
                              </a>
                            </li>
                            {%- endfor -%}
                          </ul>
                          {%- endif -%}
                        </li>
                        {%- endfor -%}
                      </ul>
                    </div>
                    {%- else -%}
                    <a href="{{ link.url }}"
                      class=" text-base-accent-1 text font-heading text-5xl justify-end"  {%
                      if link.current %} aria-current="page" {% endif %}>
                      <span {%- if link.current %} class="underline" {% endif %}>{{ link.title | escape }}</span>
                    </a>
                    {%- endif -%}
                  </li>
                  {%- endfor -%}
                </ul>
            </div>
            
          </section>
      </div>
  </div>
</modal-dialog>
<modal-dialog id="PopupModal-search" class="collage-video__modal">
  <div class="bg-[#272727] fixed inset-0 w-screen h-screen" role="dialog" aria-modal="true"
    aria-label="{{ 'general.search.search' | t }}">
    <div class="absolute p-12 inset-0 overflow-auto flex justify-center items-center " tabindex="-1">
      <form action="{{ routes.search_url }}" method="get" role="search" class="w-full">
        <div
          class="w-full max-w-6xl mx-auto flex justify-center border-b-2 transition-colors  py-6 border-gray-500 focus-within:border-white">
          <input
            class="w-full block text-3xl text-white bg-transparent appearance-none focus:outline-none focus-visible:outline-none focus-visible:shadow-none"
            id="Search-In-Modal" type="search" name="q" value="{{ search.terms | escape }}"
            placeholder="{{ 'general.search.search' | t }}">
          <label class="field__label" for="Search-In-Modal">{{ 'general.search.search' | t }}</label>
          <input type="hidden" name="options[prefix]" value="last">
        </div>
      </form>
    </div>
    <div class="flex justify-center">
      <modal-closer role="button" data-modal="#PopupModal-search" aria-label="{{ 'accessibility.close' | t }}">
        <button class="text-[45px] p-12 text-gray-500 transform rotate-180 hover:text-white">{% render 'icon-caret'
          %}</button>
      </modal-closer>
    </div>
  </div>
</modal-dialog>
{%- if request.page_type != 'cart' -%}
{%- render 'cart-notification' -%}
{%- endif -%}





{% javascript %}

class StickyHeader extends HTMLElement {
    constructor() {
        super();
    }

    connectedCallback() {
        this.header = document.getElementById('shopify-section-header');
        this.headerBounds = {};
        this.currentScrollTop = 0;

        this.onScrollHandler = this.onScroll.bind(this);

        window.addEventListener('scroll', this.onScrollHandler, false);

        this.createObserver();
    }

    disconnectedCallback() {
        window.removeEventListener('scroll', this.onScrollHandler);
    }

    createObserver() {
        let observer = new IntersectionObserver((entries, observer) => {
            this.headerBounds = entries[0].intersectionRect;
            observer.disconnect();
        });

        observer.observe(this.header);
    }

    onScroll() {
        const scrollTop = window.pageYOffset || document.documentElement.scrollTop;

        if (scrollTop > this.currentScrollTop && scrollTop > this.headerBounds.bottom) {
            requestAnimationFrame(this.hide.bind(this));
        } else if (scrollTop < this.currentScrollTop && scrollTop > this.headerBounds.bottom) {
            requestAnimationFrame(this.reveal.bind(this));
        } else if (scrollTop <= this.headerBounds.top) {
            requestAnimationFrame(this.reset.bind(this));
        }
        this.currentScrollTop = scrollTop;
    }
    hide() {
        this.header.classList.add('shopify-section-header-hidden', 'shopify-section-header-sticky');
        this.closeMenuDisclosure();
        this.closeSearchModal();
    }
    reveal() {
        this.header.classList.add('shopify-section-header-sticky', 'animate');
        this.header.classList.remove('shopify-section-header-hidden');
    }
    reset() {
        this.header.classList.remove('shopify-section-header-hidden', 'shopify-section-header-sticky', 'animate');
    }
    closeMenuDisclosure() {
        this.disclosures = this.disclosures || this.header.querySelectorAll('details-disclosure');
        this.disclosures.forEach(disclosure => disclosure.close());
    }

    closeSearchModal() {
        this.searchModal = this.searchModal || this.header.querySelector('details-modal');
        this.searchModal && this.searchModal.close(false);
    }
}

customElements.define('sticky-header', StickyHeader);

{% endjavascript %}
{%- if request.page_type == 'index' -%}
    {% assign potential_action_target = shop.url | append: routes.search_url | append: "?q={search_term_string}" %}
{%- endif -%}
{% schema %}

{
    "name": "t:sections.header.name",
    "class": "z-40 isolate w-full",
    "settings": [
        {
            "type": "checkbox",
            "id": "full_width",
            "label": "Full width",
            "default": true
        }, {
            "type": "image_picker",
            "id": "logo",
            "label": "t:sections.header.settings.logo.label"
        }, {
            "type": "range",
            "id": "logo_width",
            "min": 50,
            "max": 250,
            "step": 10,
            "default": 100,
            "unit": "t:sections.header.settings.logo_width.unit",
            "label": "t:sections.header.settings.logo_width.label"
        }, {
            "type": "select",
            "id": "logo_position",
            "options": [
                {
                    "value": "middle-left",
                    "label": "t:sections.header.settings.logo_position.options__1.label"
                }, {
                    "value": "top-left",
                    "label": "t:sections.header.settings.logo_position.options__2.label"
                }, {
                    "value": "top-center",
                    "label": "t:sections.header.settings.logo_position.options__3.label"
                }
            ],
            "default": "middle-left",
            "label": "t:sections.header.settings.logo_position.label"
        }, {
            "type": "link_list",
            "id": "menu",
            "default": "main-menu",
            "label": "t:sections.header.settings.menu.label"
        }, {
            "type": "checkbox",
            "id": "show_line_separator",
            "default": true,
            "label": "t:sections.header.settings.show_line_separator.label"
        }, {
            "type": "checkbox",
            "id": "enable_sticky_header",
            "default": true,
            "label": "t:sections.header.settings.enable_sticky_header.label",
            "info": "t:sections.header.settings.enable_sticky_header.info"
        }
    ]
}

{% endschema %}