{% assign collection = product.collections[0] %}
{% assign featured_image = product.selected_or_first_available_variant.featured_image | default: product.featured_image %}
{% assign image = featured_image %}
<div class="space-y-24 pt-12 pb-24 ">
  <div class="space-y-12">
    <div class="container mx-auto hidden lg:block">
      {% render 'breadscumb' %}
    </div>
    <div class="container mx-auto space-y-6 lg:space-y-16">
      <div class="text-center">
        <h1 class="text-center text-5xl lg:text-7xl font-thin">{{product.title | escape}}</h1>
        <div class="text-4xl">
          {%- render '[product]-price', product: product, use_variant: true, show_badges: true, price_class: 'price--large' -%}
        </div>
      </div>
      <div class="flex-col items-center flex lg:flex-row gap-12 lg:items-start">
        <div class="flex-1 lg:sticky top-header lg:pt-24 order-3 lg:order-1 w-full space-y-6">
          <div class="uppercase text-lg font-bold py-3">Description</div>
          <div class="whitespace-pre-line prose">
            {{product.description | strip_html }}
          </div>
          <div class="space-y-md  pointer-events-none">
            <div class="w-full pointer-events-auto focus:pointer-events-none group flex flex-col items-start" tabindex="0">
              <div class="border-b border-black space-x-3 flex items-center">
                <div class="py-1 flex-1 text-left">
                  <span class="font-bold capitalize ">Details</span>
                </div>
              </div>
              <div class="h-0 pointer-events-auto group-focus:h-auto group-focus:block whitespace-pre-line overflow-hidden transition-all -mt-4 group-focus:mt-0">
                <div>Sed in metus nec dui consequat vestibulum. In varius pretium nunc, sed bibendum mauris lacinia non. Praesent vel neque ut ligula porttitor vestibulum ac eu erat. Pellentesque quis turpis odio. Etiam auctor laoreet ligula, vel aliquam urna ornare sed. Praesent laoreet diam vitae lectus molestie pulvinar.</div>
              </div>
            </div>
          </div>
          <div class="space-y-md  pointer-events-none">
            <div class="w-full pointer-events-auto focus:pointer-events-none group flex flex-col items-start" tabindex="0">
              <div class="border-b border-black space-x-3 flex items-center">
                <div class="py-1 flex-1 text-left">
                  <span class="font-bold capitalize ">Materials</span>
                </div>
              </div>
              <div class="h-0 pointer-events-auto group-focus:h-auto group-focus:block whitespace-pre-line overflow-hidden transition-all -mt-4 group-focus:mt-0">
                <div>Sed in metus nec dui consequat vestibulum. In varius pretium nunc, sed bibendum mauris lacinia non. Praesent vel neque ut ligula porttitor vestibulum ac eu erat. Pellentesque quis turpis odio. Etiam auctor laoreet ligula, vel aliquam urna ornare sed. Praesent laoreet diam vitae lectus molestie pulvinar.</div>
              </div>
            </div>
          </div>
          <div class="space-y-md  pointer-events-none">
            <div class="w-full pointer-events-auto focus:pointer-events-none group flex flex-col items-start" tabindex="0">
              <div class="border-b border-black space-x-3 flex items-center">
                <div class="py-1 flex-1 text-left">
                  <span class="font-bold capitalize ">Shipping and returns</span>
                </div>
              </div>
              <div class="h-0 pointer-events-auto group-focus:h-auto group-focus:block whitespace-pre-line overflow-hidden transition-all -mt-4 group-focus:mt-0">
                <div>Sed in metus nec dui consequat vestibulum. In varius pretium nunc, sed bibendum mauris lacinia non. Praesent vel neque ut ligula porttitor vestibulum ac eu erat. Pellentesque quis turpis odio. Etiam auctor laoreet ligula, vel aliquam urna ornare sed. Praesent laoreet diam vitae lectus molestie pulvinar.</div>
              </div>
            </div>
          </div>
          <div></div>
        </div>
        <div class="lg:w-5/12 relative  min-h-full order-1 lg:order-2 w-full">
          {% if product.images.size == 1 %}
            <div class=" relative">
              <div style="padding-top: {{ 1 | divided_by: image.aspect_ratio | times: 100 }}%;"></div>
              <modal-opener data-modal="#ProductModal-{{ section.id }}">
                <button class="group" aria-haspopup="dialog" data-media-id="{{ image.id }}">
                  <div id="preview_image">
                    <img class="absolute inset-0 object-cover  ease-in-out w-full" srcset="{% if image.width >= 288 %}{{ image | img_url: '288x' }} 288w,{% endif %} {% if image.width >= 576 %}{{ image | img_url: '576x' }} 576w,{% endif %} {% if image.width >= 550 %}{{ image | img_url: '550x' }} 550w,{% endif %} {% if image.width >= 1100 %}{{ image | img_url: '1100x' }} 1100w{% endif %}" src="{{ media | img_url: '1024x1024' }}" sizes="(min-width: 1200px) calc((1200px - 10rem) / 2), (min-width: 750px) calc((100vw - 11.5rem) / 2), calc(100vw - 4rem)" loading="lazy" width="576" height="{{ 576 | divided_by: image.aspect_ratio | ceil }}" alt="{{ image.alt | escape }}">
                  </div>
                  <div class="hidden group-hover:block absolute top-5 left-5 p-2 bg-white rounded-full text-sm">{%-
                    render 'icon-zoom' -%}</div>
                </button>
              </modal-opener>
              
            </div>
            {% else %}
            <div class="lg:hidden relative">
              <div class="absolute inset-0">
                <product-slider>
                  <div class="keen-slider" id="my-keen-slider">
                    {% for image in product.images %}
                      <div class="keen-slider__slide relative">
                        <div style="padding-top: {{ 1 | divided_by: image.aspect_ratio | times: 100 }}%;"></div>
                        <modal-opener data-modal="#ProductModal-{{ section.id }}">
                          <button class="group" aria-haspopup="dialog" data-media-id="{{ image.id }}">
                            <div id="preview_image">
                              <img class="absolute inset-0 object-cover  ease-in-out w-full" srcset="{% if image.width >= 288 %}{{ image | img_url: '288x' }} 288w,{% endif %} {% if image.width >= 576 %}{{ image | img_url: '576x' }} 576w,{% endif %} {% if image.width >= 550 %}{{ image | img_url: '550x' }} 550w,{% endif %} {% if image.width >= 1100 %}{{ image | img_url: '1100x' }} 1100w{% endif %}" src="{{ media | img_url: '1024x1024' }}" sizes="(min-width: 1200px) calc((1200px - 10rem) / 2), (min-width: 750px) calc((100vw - 11.5rem) / 2), calc(100vw - 4rem)" loading="lazy" width="576" height="{{ 576 | divided_by: image.aspect_ratio | ceil }}" alt="{{ image.alt | escape }}">
                            </div>
                            <div class="hidden group-hover:block absolute top-5 left-5 p-2 bg-white rounded-full text-sm">{%-
                              render 'icon-zoom' -%}</div>
                          </button>
                        </modal-opener>
                        
                      </div>
                    {% endfor %}
                    <svg class="arrow arrow--left text-black" fill="currentColor" id="arrow-left" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                      <path d="M16.67 0l2.83 2.829-9.339 9.175 9.339 9.167-2.83 2.829-12.17-11.996z"></path>
                    </svg>
                    <svg class="arrow arrow--right text-black" fill="currentColor" id="arrow-right" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                      <path d="M5 3l3.057-3 11.943 12-11.943 12-3.057-3 9-9z"></path>
                    </svg>
      
                  </div>
                  <div class="dots absolute bottom-3 left-0 right-0" id="dots"></div>
                </product-slider>
              </div>
              <div style="padding-top: {{ 1 | divided_by: image.aspect_ratio | times: 100 }}%;"></div>
            </div>
            <div class="w-full relative hidden lg:block">
              <div class="w-full h-full top-0 left-0 flex">
           
                <div class="w-5/6 bg-accents-0">
                  <div class="w-full flex-1 relative" style="padding-top: {{ 1 | divided_by: image.aspect_ratio | times: 100 }}%;">
                    <div class="flex-1 absolute top-0 right-0 w-full h-full ">
                      <div style="display: block; overflow: hidden; position: relative; box-sizing: border-box; margin: 0px;">
                        <div style="display: block; box-sizing: border-box; padding-top: {{ 1 | divided_by: image.aspect_ratio | times: 100 }}%;"></div>
                        {% if product.selected_or_first_available_variant.featured_media != null %}
      
                          {%- assign media = product.selected_or_first_available_variant.featured_media -%}
                        {% else %}
                          {%- assign media = featured_image -%}
      
                        {% endif %}
                        <modal-opener data-modal="#ProductModal-{{ section.id }}">
                          <button class="group" aria-haspopup="dialog" data-media-id="{{ image.id }}">
                            <div id="preview_image">
                              <img class="absolute inset-0 object-cover  ease-in-out w-full" srcset="{% if media.preview_image.width >= 288 %}{{ media.preview_image | img_url: '288x' }} 288w,{% endif %} {% if media.preview_image.width >= 576 %}{{ media.preview_image | img_url: '576x' }} 576w,{% endif %} {% if media.preview_image.width >= 550 %}{{ media.preview_image | img_url: '550x' }} 550w,{% endif %} {% if media.preview_image.width >= 1100 %}{{ media.preview_image | img_url: '1100x' }} 1100w{% endif %}" src="{{ media | img_url: '1024x1024' }}" sizes="(min-width: 1200px) calc((1200px - 10rem) / 2), (min-width: 750px) calc((100vw - 11.5rem) / 2), calc(100vw - 4rem)" loading="lazy" width="576" height="{{ 576 | divided_by: media.preview_image.aspect_ratio | ceil }}" alt="{{ media.preview_image.alt | escape }}">
                            </div>
                            <div class="hidden group-hover:block absolute top-5 left-5 p-2 bg-white rounded-full text-sm">{%-
                              render 'icon-zoom' -%}</div>
                          </button>
                        </modal-opener>
      
                      </div>
                    </div>
                  </div>
                </div>
                <div class="w-1/6 flex flex-col z-10">
                  {% for image in product.images %}
                    <div  class="group pr-responsive-md pb-responsive-md lg:pl-2 lg:pb-2">
                      <div class="w-full  flex relative border group-hover:shadow-outline-normal ">
                        <div style="padding-top: {{ 1 | divided_by: image.aspect_ratio | times: 100 }}%;"></div>
                        <button tabindex="-1" class="absolute inset-0 block w-full h-full">
                          <div style="display: block; overflow: hidden; position: absolute; inset: 0px; box-sizing: border-box; margin: 0px;">
                            <img alt="Product Image" src="{{ image.src | img_url: 'compact' }}" alt="{{ image.alt | escape }}" class="border border-accents-2" style="position: absolute; inset: 0px; box-sizing: border-box; padding: 0px; border: none; margin: auto; display: block; width: 0px; height: 0px; min-width: 100%; max-width: 100%; min-height: 100%; max-height: 100%; object-fit: cover;">
                          </div>
                        </button>
                      </div>
                      <div class="hidden group-hover:block  group-focus-within:block  left-0 top-0 absolute w-5/6 bg-gray-100">
                        <div class="w-full" style="padding-top: {{ 1 | divided_by: image.aspect_ratio | times: 100 }}%;">
                          <div class="absolute top-0 right-0 w-full h-full flex-1">
                            <div style="display: block; overflow: hidden; position: relative; box-sizing: border-box; margin: 0px;">
                              <div style="display: block; box-sizing: border-box; padding-top: {{ 1 | divided_by: image.aspect_ratio | times: 100 }}%;"></div>
                              <modal-opener data-modal="#ProductModal-{{ section.id }}">
                                <button type="button" aria-haspopup="dialog" data-media-id="{{ image.id }}">
                                  <img class=" object-contain" data-media-id="{{ section.id }}-{{ image.id }}" alt="Product Image" src="{{image.src | img_url: '1024x1024', scale: 2 }}" style="position: absolute; inset: 0px; box-sizing: border-box; padding: 0px; border: none; margin: auto; display: block; width: 0px; height: 0px; min-width: 100%; max-width: 100%; min-height: 100%; max-height: 100%; object-fit: cover;">
                                  <div class="hidden group-hover:block absolute top-5 left-5 p-2 bg-white rounded-full text-sm">
                                    {%- render 'icon-zoom' -%}</div>
                                </button>
                              </modal-opener>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  {% endfor %}
                  <div class="flex-1"></div>
                </div>
              </div>
            </div>
          {% endif %}
         
        </div>
        <div class="flex-1 lg:sticky top-header lg:pt-24 order-2 lg:order-3 w-full">
          <div id="ProductInfo-{{ section.id }}" class="space-y-6">
            {%- assign product_form_id = 'product-form-' | append: section.id  -%}
              <div >
                {%- form 'product', product, id: 'product-form-installment', class: 'installment caption-large' -%}
                  <input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}">
                  {{ form | payment_terms }}
                {%- endform -%}
                
                <div class="space-y-6"><div>
                  {%- unless product.has_only_default_variant -%}
                  <variant-radios class="no-js-hidden" data-section="{{ section.id }}" data-url="{{ product.url }}">
                    {%- for option in product.options_with_values -%}
                        <fieldset class="js product-form__input gap-4 flex option-{{option.name}}">
                          <legend class="form__label w-full items-baseline text-lg uppercase font-bold py-3 flex justify-between">{{ option.name | upcase }}
                            {% if option.name == 'Size'  %}
                              <a href="#" class="text-sm capitalize font-normal underline">
                                Size guide
                              </a>
                            {% endif %}
                          </legend>
                          {%- for value in option.values -%}
                            <input hidden type="radio" id="{{ section.id }}-{{ option.name }}-{{ forloop.index0 }}"
                                  name="{{ option.name }}"
                                  value="{{ value | escape }}"
                                  form="product-form-{{ section.id }}"
                                  {% if option.selected_value == value %}checked{% endif %}
                            >
                            <label class="flex overflow-hidden truncate items-center justify-center min-w-[28px] h-[28px] ring-0 hover:ring-0ring-offset-0 ring-offset-gray-200 hover:ring-offset-[0.2em] transition-all" for="{{ section.id }}-{{ option.name }}-{{ forloop.index0 }}">
                              {{ value }}
                            </label>
                          {%- endfor -%}
                        </fieldset>
                        {% if option.name == 'Size' %}
                          <style>
                              .option-{{option.name}} input:checked+label{
                                box-shadow: 0 0 0 2px #fff, 0 0 0 3px #000;
                                -ms-box-shadow: 0 0 0 2px #fff, 0 0 0 3px #000;
                                -o-box-shadow: 0 0 0 2px #fff, 0 0 0 3px #000;
                                -webkit-box-shadow: 0 0 0 2px #fff, 0 0 0 3px #000;
                                -moz-box-shadow: 0 0 0 2px #fff, 0 0 0 3px #000;
                              }
                          </style>
                          {% else %}
                          <style>
                            .option-{{option.name}} input:checked+label{
                              box-shadow: 0 0 0 2px #fff, 0 0 0 3px #000;
                              -ms-box-shadow: 0 0 0 2px #fff, 0 0 0 3px #000;
                              -o-box-shadow: 0 0 0 2px #fff, 0 0 0 3px #000;
                              -webkit-box-shadow: 0 0 0 2px #fff, 0 0 0 3px #000;
                              -moz-box-shadow: 0 0 0 2px #fff, 0 0 0 3px #000;
                            }
                          </style>
                        {% endif %}
                      
                    {%- endfor -%}
                    <script type="application/json">

{
    product.variants | json
}}

</script>
                  </variant-radios>
              {%- endunless -%}
              <noscript>
                <div class="product-form__input{% if product.has_only_default_variant %} hidden{% endif %}">
                  <label class="form__label text-lg uppercase font-bold py-3" for="Variants-{{ section.id }}">{{ 'products.product.product_variants' | t }}</label>
                  <div class="select">
                    <select name="id" id="Variants-{{ section.id }}" class="select__select" form="product-form">
                      {%- for variant in product.variants -%}
                        <option
                          {% if variant == product.selected_or_first_available_variant %}selected="selected"{% endif %}
                          {% if variant.available == false %}disabled{% endif %}
                          value="{{ variant.id }}"
                        >
                          {{ variant.title }}
                          {%- if variant.available == false %} - {{ 'products.product.sold_out' | t }}{% endif %}
                          - {{ variant.price | money | strip_html }}
                        </option>
                      {%- endfor -%}
                    </select>
                    {% render 'icon-caret' %}
                  </div>
                </div>
              </noscript>
                </div>
                  <div class="flex items-baseline space-x-6 justify-between">
                  <label class="form__label text-lg uppercase font-bold py-3" for="Quantity-{{ section.id }}">
                    {{ 'products.product.quantity.label' | t }}
                  </label>
                  <quantity-input class="quantity flex">
                    <button class="quantity__button no-js-hidden" name="minus" type="button">
                      <span class="visually-hidden">{{ 'products.product.quantity.decrease' | t: product: product.title | escape }}</span>
                      <div class="pointer-events-none">
                        {% render 'icon-minus' %}
                      </div>
                    </button>
                    <input class="quantity__input text-center w-[50px] flex-1"
                        type="number"
                        name="quantity"
                        id="Quantity-{{ section.id }}"
                        min="1"
                        value="1"
                        form="product-form-{{ section.id }}"
                      >
                    <button class="quantity__button no-js-hidden" name="plus" type="button">
                      <span class="visually-hidden">{{ 'products.product.quantity.increase' | t: product: product.title | escape }}</span>
                      <div class="pointer-events-none">{% render 'icon-plus' %}</div>
                    </button>
                  </quantity-input>
                </div>
                <div >
                  <product-form>
                  {%- form 'product', product, id: product_form_id, class: 'form', novalidate: 'novalidate', data-type: 'add-to-cart-form' -%}
                    <input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}">
                    <div class=" space-y-6">
                      <button
                        type="submit"
                        name="add"
                        class="btn btn-outline min-w-[200px] w-full"
                      {% if product.selected_or_first_available_variant.available == false %}disabled{% endif %}
                      >
                          {%- if product.selected_or_first_available_variant.available -%}
                            {{ 'products.product.add_to_cart' | t }}
                          {%- else -%}
                            {{ 'products.product.sold_out' | t }}
                          {%- endif -%}
                      </button>
                      {{ form | payment_button  }}
                    </div>
                  {%- endform -%}
                </product-form>
                </div>
                </div>
                
                
              </div>
                
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container mx-auto flex flex-col space-y-12">
    <h2 class="font-heading text-4xl text-center">PAIR WITH NECKLACE TO COMPLETE YOUR LOOK</h2>
    <div class="grid grid-cols-1 lg:grid-cols-3 gap-px">
      {% for collection in collections limit:3 %}
        <div class=" relative group cursor-pointer hover:z-10">
          {% render '[collection]-card' collection:collection  class: '' %}
        </div>
      {% endfor %}
    </div>
  </div>
<div class="container mx-auto">
    <div class="max-w-4xl mx-auto flex-col gap6 lg:gap-16 flex lg:flex-row mt-16">
        <div class="flex-1 flex relative">
          <div class="relative w-full">
            <div class="pt-[145%]"></div>
            {% render 'image-full' ,image:product.images[0] class:'transition-all group-hover:brightness-50' %}
          </div>
        </div>
        <div class="flex-1 space-y-3 lg:space-y-6 justify-center relative lg:py-12 max-w-sm">
            <div class= "whitespace-pre-line">
              <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
            </div>
            <div class=" space-y-2">
                <a href="{{product.url}}" class="text-3xl">{{ product.title | escape }}</a>
                <div>gold, jade pendant</div>
                <div>
                  {% render '[product]-price' product:product class: '' %}
                </div>
          </div>
          <a href="{{product.url}}"  class="btn btn-lg group ">SHOP THE LOOK
            <svg class="icon ml-6 icon-arrow group-hover:ml-8 transition-all" viewBox="0 0 14 10" fill="none" aria-hidden="true" focusable="false" role="presentation" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M8.537.808a.5.5 0 01.817-.162l4 4a.5.5 0 010 .708l-4 4a.5.5 0 11-.708-.708L11.793 5.5H1a.5.5 0 010-1h10.793L8.646 1.354a.5.5 0 01-.109-.546z" fill="currentColor">
            </path></svg>
        </a>
        </div>
    </div>

</div>
  <div class="container mx-auto flex flex-col space-y-12">
    <h2 class="font-heading text-4xl text-center">YOU MAY ALSO LIKE</h2>
    <div class="grid gap-6 grid-cols-2 lg:grid-cols-4 flex-1 w-full justify-center">
      {% for product in collection.products limit:4 %}
        {% render '[product]-card' product:product class: '' %}
      {% endfor %}
  </div>
  </div>
</div>

<product-modal class="modal" id="ProductModal-{{ section.id }}" tabindex="-1">
  <div class="bg-white" role="dialog" aria-label="{{ 'products.modal.label' | t }}" aria-modal="true">
    <button aria-label="{{ 'accessibility.close' | t }}" id="ModalClose-{{ section.id }}" type="button" class="z-10 border  bg-white modal__toggle absolute top-4 right-4" aria-label="{{ 'accessibility.close' | t }}">
      <svg class="h-6 w-6" fill="none" height="24" shape-rendering="geometricPrecision" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" stroke="currentColor" viewbox="0 0 24 24" width="24">
        <path d="M18 6L6 18"></path>
        <path d="M6 6l12 12"></path>
      </svg>
    </button>
    <div class="product-media-modal__content absolute  inset-0 w-full h-full overflow-auto bg-white flex flex-col justify-start" role="document" aria-label="{{ 'products.modal.label' | t }}" tabindex="0">
      {%- for image in product.images -%}
        <img loading="lazy" class="w-full" srcset="{%- if image.width >= 550 -%}{{ image | img_url: '550x' }} 550w,{%- endif -%} {%- if image.width >= 1100 -%}{{ image | img_url: '1100x' }} 1100w,{%- endif -%} {%- if image.width >= 1680 -%}{{ image | img_url: '1680x' }} 1680w,{%- endif -%} {%- if image.width >= 2048 -%}{{ image | img_url: '2048x' }} 2048w,{%- endif -%} {%- if image.width >= 4096 -%}{{ image | img_url: '4096x' }} 4096w{%- endif -%}" sizes="(min-width: 750px) calc(100vw - 12rem), 100vw" src="{{ image | img_url: '750x' }}" alt="{{ media.alt | escape }}" loading="lazy" width="1100" height="{{ 1100 | divided_by: image.aspect_ratio | ceil }}" data-media-id="{{ image.id }}">
      {%- endfor -%}
    </div>
  </div>
</product-modal>
{% javascript %}
class ProductSlider extends HTMLElement {
  constructor() {
    super();
    let stated = false
    const start = () => {
      var slider = new KeenSlider("#my-keen-slider", {
        created: function (instance) {
          document.getElementById("arrow-left").addEventListener("click", function () {
            instance.prev()
          })

          document.getElementById("arrow-right").addEventListener("click", function () {
            instance.next()
          })
          var dots_wrapper = document.getElementById("dots")
          var slides = document.querySelectorAll(".keen-slider__slide")
          slides.forEach(function (t, idx) {
            var dot = document.createElement("button")
            dot.classList.add("dot")
            dots_wrapper.appendChild(dot)
            dot.addEventListener("click", function () {
              instance.moveToSlide(idx)
            })
          })
          updateClasses(instance)
        },
        slideChanged(instance) {
          updateClasses(instance)
        }
      })

      function updateClasses(instance) {
        var slide = instance.details().relativeSlide
        var arrowLeft = document.getElementById("arrow-left")
        var arrowRight = document.getElementById("arrow-right")
        slide === 0
          ? arrowLeft.classList.add("arrow--disabled")
          : arrowLeft.classList.remove("arrow--disabled")
        slide === instance.details().size - 1
          ? arrowRight.classList.add("arrow--disabled")
          : arrowRight.classList.remove("arrow--disabled")

        var dots = document.querySelectorAll(".dot")
        dots.forEach(function (dot, idx) {
          idx === slide
            ? dot.classList.add("dot--active")
            : dot.classList.remove("dot--active")
        })
      }
      this.classList.add("ready")
    }
    const handleIntersection = (entries, observer) => {
      if (!entries[0].isIntersecting) 
        return;
      

      if (!KeenSlider) 
        return

      

      console.log(KeenSlider)
      observer.unobserve(this);
      start()
    }
    new IntersectionObserver(handleIntersection.bind(this), {
      rootMargin: '0px 0px 500px 0px'
    }).observe(this);
  }
}
customElements.define('product-slider', ProductSlider);

class ProductModal extends ModalDialog {
    constructor() {
        super();
    }

    hide() {
        super.hide();
        window.pauseAllMedia();
    }

    show(opener) {
        super.show(opener);
        this.showActiveMedia();
    }

    showActiveMedia() {
        this.querySelectorAll(`[data-media-id]:not([data-media-id="${
            this.openedBy.getAttribute("data-media-id")
        }"])`).forEach((element) => {
            element.classList.remove('active');
        })
        console.log('this', this)
        const activeMedia = this.querySelector(`[data-media-id="${
            this.openedBy.getAttribute("data-media-id")
        }"]`);

        activeMedia.classList.add('active');
        activeMedia.scrollIntoView();

        if (activeMedia.nodeName == 'DEFERRED-MEDIA' && activeMedia.querySelector('template') ?. content ?. querySelector('.js-youtube')) 
            activeMedia.loadContent();
        

    }
}
customElements.define('product-modal', ProductModal);

{% endjavascript %}
{{ 'global.js' | asset_url | script_tag }}
<script src="https://cdn.jsdelivr.net/npm/keen-slider@5.5.0/keen-slider.min.js"></script>
{% stylesheet %}

.modal[open] {
    opacity: 1;
    visibility: visible;
    z-index: 101;
    pointer-events: auto;
}

.modal__button {
    font-size: 1.6rem;
    padding-right: 1.3rem;
    padding-left: 0;
    height: 4.4rem;
    text-underline-offset: 0.3rem;
    text-decoration-thickness: 0.1rem;
    transition: text-decoration-thickness var(--duration-short) ease;
}

.modal__button:hover {
    text-decoration-thickness: 0.2rem;
}

.modal__content-info {
    padding-right: 4.4rem;
}

.modal__content-info > * {
    height: auto;
    margin: 0 auto;
    max-width: 100%;
    width: 100%;
}

@media screen and(max-width: 749px) {
    .modal__content-info > * {
        max-height: 100%;
    }
}

.modal__toggle {
    background-color: var(--color-background);
    border: 0.1rem solid var(--color-foreground-10);
    border-radius: 50%;
    color: var(--color-foreground-55);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: sticky;
    padding: 1.2rem;
    z-index: 2;
    width: 4rem;
    margin: 0 0 0 auto;
}

.modal__toggle:hover {
    color: var(--color-foreground-75);
}

.modal__toggle .icon {
    height: auto;
    margin: 0;
    width: 2.2rem;
}

* Dynamic checkout */ .shopify-payment-button__more-options {
    color: var(--color-foreground);
}

.shopify-payment-button__button {
    border-radius: 0;
    min-height: 4.6rem;
    overflow: hidden;
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
    border-color: transparent;
    border-color: hsla(var(--n)/var(--tw-border-opacity, 1));
    cursor: pointer;
    display: inline-flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
    transition-duration: 0.15s;
    transition-duration: 0.2s;
    transition-timing-function: cubic-bezier(0.4,0,0.2,1);
    border-radius: var(--rounded-btn, 0.5rem);
    height: 3rem;
    font-size: 0.875rem !important;
    line-height: 1.25rem;
    line-height: 2;
    padding-left: 1rem;
    padding-right: 1rem;
    min-height: 3rem;
    font-weight: 600;
    text-transform: uppercase;
    text-transform: var(--btn-text-case, uppercase);
    border-width: var(--border-btn, 1px);
    -webkit-animation: button-pop var(--animation-btn, 0.25s) ease-out;
    animation: button-pop var(--animation-btn, 0.25s) ease-out;
    --tw-bg-opacity: 1;
    background-color: hsla(var(--n)/var(--tw-bg-opacity, 1)) !important;
    --tw-border-opacity: 1;
    --tw-text-opacity: 1;
    color: hsla(var(--nc)/var(--tw-text-opacity, 1));
}

.shopify-payment-button__button--unbranded {
    background-color: var(--color-button-background);
    box-shadow: 0 0 0 0.1rem var(--color-button-border);
    font-size: 1.4rem;
    line-height: 1.2;
    letter-spacing: 0.07rem;
}

.shopify-payment-button__button--unbranded:hover,
.shopify-payment-button__button--unbranded:hover:not([disabled]) {
    background-color: var(--color-button-background);
    box-shadow: 0 0 0 0.2rem var(--color-button-border);
}

.shopify-payment-button__button--unbranded:focus {
    outline: 0.3rem solid var(--color-foreground);
    outline-offset: 0.3rem;
}

.shopify-payment-button__button--unbranded:focus-visible {
    outline: 0.3rem solid var(--color-foreground);
    outline-offset: 0.3rem;
}

.shopify-payment-button__button--unbranded:focus:not(:focus-visible) {
    outline: 0;
}

.shopify-payment-button__more-options {
    margin: 1.6rem 0 1rem;
    font-size: 1.2rem;
    line-height: 1.5;
    letter-spacing: 0.05rem;
    text-decoration: underline;
    text-underline-offset: 0.3rem;
}


//Slider
product-slider .keen-slider__slide {
  display: none;
}

product-slider.ready .keen-slider__slide {
  display: block;
}

product-slider>* {
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s linear;
}

product-slider.ready>* {
  opacity: 100;
  visibility: visible;
}

.keen-slider {
  display: flex;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent
}

.keen-slider,
.keen-slider__slide {
  overflow: hidden;
  position: relative
}

.keen-slider__slide {
  width: 100%;
  min-height: 100%
}

.keen-slider[data-keen-slider-v] {
  flex-wrap: wrap
}

.keen-slider[data-keen-slider-v] .keen-slider__slide {
  width: 100%
}

.keen-slider[data-keen-slider-moves] * {
  pointer-events: none
}

[class^="number-slide"],
[class*=" number-slide"] {
  background: grey;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  color: #fff;
  font-weight: 500;
}

.navigation-wrapper {
  position: relative;
}

.dots {
  display: flex;
  padding: 10px 0;
  justify-content: center;
}

.dot {
  border-radius: 9999px;
  padding: 0.5rem;
}

.dot::before {
  display: block;
  content: "";
  height: 6px;
  width: 6px;
  border-radius: 9999px;
  border-width: 1px;
  border-color: var(--accents-5);
  background-color: var(--accents-1);
  transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
  transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.15s;
}

.dot:focus {
  outline: none;
}

.dot--active::before {
  --tw-bg-opacity: 1;
  background-color: rgba(0, 0, 0, var(--tw-bg-opacity));
}

.arrow {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  cursor: pointer;
  opacity:100;
  transition : opacity 0.5s 
}

.arrow--left {
  left: 5px;
}

.arrow--right {
  left: auto;
  right: 5px;
}

.arrow--disabled {
  opacity:0
}
  
{% endstylesheet %}



{% schema %}

{
    "name": "t:sections.main-product.name",
    "tag": "section",
    "class": "spaced-section--transparent",
    "settings": []
}

{% endschema %}
