   

<div class="py-24 space-y-12 container mx-auto">
  <div class="space-y-6">
    <div class="w-full flex gap-6 lg:gap-12">
      <div class="w-1/3 max-w-xs hidden lg:block"></div>
      <div class="flex-1 flex items-baseline space-x-2 ">
          <a href="/collections" class="text-5xl text-effect-1 font-heading capitalize">Collections</a>
          <div><svg width="1em" height="1em" fill="none" stroke-width="0.03em" stroke="currentColor" fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8.14 14.74"><g ><polyline points="0.74 14.07 6.79 7.41 0.74 0.67"/></g></svg></div>
          <h1 class="text-5xl capitalize">{{collection.title}}</h1>
      </div>
    </div>
    <div class="w-full flex gap-6 lg:gap-12">
      <div class="w-1/3 max-w-xs space-y-12 hidden lg:block">
        <div>
          <ul class="space-y-3">
            {% for collection  in collections %}
              <li>
                <a class="font-heading text-effect-1" href="{{collection.url}}">{{collection.title | upcase}}</a>
              </li>
            {% endfor %}
          </ul>
        </div>
        <div>
          <div class="text-sm font-bold mb-3">TAGS</div>
          <ul class="space-y-3">
            {% for tag in collection.tags %}
              <li>
                  <div class="text-effect-1 font-heading uppercase">
                      {{ tag | link_to_tag: tag  }}
                  </div>
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
      <div class="flex-1 isolate space-y-6">
        {% render '[filter]' class: '' 
        sort_options:collection.sort_options
        filters:collection.filters 
        sort_by: collection.sort_by %}
        {%- paginate collection.products by 12-%}
        <div class="grid gap-6 grid-cols-2 lg:grid-cols-3 ">
          {% for product in collection.products %}
            {% render '[product]-card' product:product class: '' %}
          {% endfor %}
        </div>
        {%- if paginate.pages > 1 -%}
          {% render 'pagination', paginate: paginate, anchor: '', class: '' %}
        {%- endif -%}
        {%- endpaginate -%}
      </div>
    </div>
  </div>
</div>
{% javascript %}

class FilterModal extends ModalDialog {
    constructor() {
        super();
    }
    hide() {
        super.hide();
    }

    show(opener) {
        if (this.hasAttribute('open')) {
            super.hide();
        } else {
            super.show(opener);
        }
    }
}
customElements.define('filter-modal', FilterModal);

{% endjavascript %}
{{ 'global.js' | asset_url | script_tag }}

{% schema %}

{
    "name": "Collection",
    "class": "spaced-section spaced-section--full-width",
    "settings": []
}

{% endschema %}