<div class="-mt-header pt-header min-h-screen flex relative text-white text-xl">
    <div class=" flex absolute top-0 left-0 h-full lg:w-[60%]">
        {% if section.settings.image_left %}
            {% render 'image-full' image:section.settings.image_left %}
        {% else %}
            <img class="object-cover w-full h-full" src="https://cdn.shopify.com/s/files/1/0594/5406/2744/files/jewelry-02_2000x.jpg?v=1632407363" loading="lazy" class="header__heading-logo ]" width="256" height="131" alt="{{ shop_name | escape }}">
        {% endif %}
    </div>
    <div class="hidden lg:flex absolute top-0 right-0 h-full lg:w-[40%]">
        {% if section.settings.image_right %}
            {% render 'image-full' image:section.settings.image_right %}
        {% else %}
            <img class="object-cover w-full h-full" src="https://cdn.shopify.com/s/files/1/0594/5406/2744/files/jewelry-03_1000x.jpg?v=1632407363" loading="lazy" class="header__heading-logo ]" width="256" height="131" alt="{{ shop_name | escape }}">
        {% endif %}
    </div>

    <div class="page-width flex w-full flex-col items-start justify-center py-12 min-h-full relative text-white">
        <h2 class="text-white text-6xl">{{section.settings.heading}}</h2>
        <div class="whitespace-pre-line mt-6">{{section.settings.description}}</div>
        {% render 'button' url:section.settings.buttonUrl text:section.settings.buttonText class:'mt-16' %}
    </div>
    <div class="hidden lg:block absolute bottom-0 right-[40%] transform translate-x-[50%] w-[400px] h-[400px] text-white text-base">
        <svg class="" enable-background="new 0 0 300 300" height="100%" version="1.1" viewbox="0 0 300 300" width="100%" x="0px" xml:space="preserve" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg" y="0px">
            <defs>
                <path d="M 150, 150 m -60, 0 a 60,60 0 0,1 120,0 a 60,60 0 0,1 -120,0 " id="circlePath"/>
            </defs>
            <circle cx="150" cy="100" fill="none" r="75"/>
            <g>
                <use fill="none" xlink:href="#circlePath"/>
                <text fill="currentColor" style="letter-spacing: 0.2em;">
                    <textPath xlink:href="#circlePath">{{section.settings.circleText}}</textPath>
                </text>
            </g>
        </svg>
    </div>
    <div class="hidden lg:block absolute top-[50%] right-10 w-[200px] whitespace-pre-line space-y-8">
        <p>{{section.settings.text2}}</p>
        <p>{{section.settings.text3}}</p>
    </div>
</div>
{% schema %}

{
    "name": "Banner",
    "tag": "section",
    "class": "relative spaced-section spaced-section--full-width",
    "blocks": [],
    "settings": [
        {
            "type": "text",
            "id": "heading",
            "label": "Heading",
            "default": "Everyday Jewelry Essentials"
        }, {
            "type": "richtext",
            "id": "description",
            "label": "Description"
        }, {
            "type": "text",
            "id": "buttonText",
            "label": "Button Text",
            "default": "SHOP ALL"
        }, {
            "type": "url",
            "id": "buttonUrl",
            "label": "Button Url",
            "default": "/"
        }, 
        {
            "type": "text",
            "id": "circleText",
            "label": "text 1",
            "default": "every day jewelry estnesials•"
        },
        {
            "type": "text",
            "id": "text2",
            "label": "text 2",
            "default": "quisque ultricies ligula lectus"
        },
        {
            "type": "text",
            "id": "text3",
            "label": "text 3",
            "default": "a varius lorem tristique quis"
        },
        {
            "type": "image_picker",
            "id": "image_left",
            "label": "left image"
        }, {
            "type": "image_picker",
            "id": "image_right",
            "label": "left image"
        }
    ],
    "presets": [
        {
            "name": "Banner",
            "blocks": []
        }
    ]
}

{% endschema %}