
{% assign sort_by = search.sort_by %}
{% assign showclearBtn = false %}
          {% assign filterItemCount = 0 %}
          {% capture filterItems %}
          {%- for filter in search.filters -%}
            {%- if filter.type == "price_range" -%}
              {%- if filter.min_value.value != nil or filter.max_value.value != nil -%}
                <a class="active-filters__remove-filter btn btn-sm" href="{{ filter.url_to_remove }}">
                  {%- assign min_value = filter.min_value.value | default: 0 -%}
                  {%- assign max_value = filter.max_value.value | default: filter.range_max -%}
                  {{ min_value | money }} - {{ max_value | money }} X
                </a>
                {% assign showclearBtn = true %}
                {% assign filterItemCount = filterItemCount | plus: 1 %}
                {%- endif -%}
            {%- else -%}
              {%- for filter_value in filter.active_values -%}
                <a class="active-filters__remove-filter btn btn-sm" href="{{ filter_value.url_to_remove }}">
                  {{ filter_value.label }} X
                </a>
                {% assign filterItemCount = filterItemCount | plus: 1 %}
                {% assign showclearBtn = true %}
              {%- endfor -%}
            {%- endif- %}
          {%- endfor -%}
          {% endcapture %}
<div class="py-12 space-y-12 container mx-auto">
  <div class="space-y-12">
    <div class="w-full flex gap-6 flex-col items-center">
      <div class="flex-1 flex items-baseline text-center space-x-2 ">
          <a href="/search" class="text-5xl text-effect-1 font-heading capitalize">Search</a>
      </div>
      <form action="{{ routes.search_url }}" method="get" role="search" class="search w-full flex justify-center">
        <div class="field w-full max-w-prose  form-control">
          <div class="input-group border border-black relative flex">
            <input
              class="search__input field__input input input-lg flex-1"
              id="Search-In-Template"
              type="search"
              name="q"
              value="{{ search.terms | escape }}"
              {% if search.performed %}autofocus{% endif %}
              placeholder="{{ 'general.search.search' | t }}"
            >
            <button  type="submit" class="btn btn-lg absolute top-0 h-full right-0" aria-label="{{ 'general.search.search' | t }}">
              Search
            </button>
          </div>
          
          <label hidden class="field__label" for="Search-In-Template" aria-hidden="true">{{ 'general.search.search' | t }}</label>
          <input name="options[prefix]" type="hidden" value="last">
          
        </div>
      </form>
      {%- if search.performed -%}
      <p class="element-margin" role="status">
        {%- if search.results_count == 0 -%}
          {{ 'templates.search.no_results' | t: terms: search.terms }}
        {%- else -%}
          {{ 'templates.search.results_with_count' | t: terms: search.terms, count: search.results_count }}
        {%- endif -%}
      </p>
    {%- endif -%}
    </div>
    <div class="w-full flex gap-6 lg:gap-12">
      <div class="flex-1 isolate space-y-6">
        <div id="filter-box" class="w-full pointer-events-none isolate z-10 sticky top-header">
          <div class="bg-base-100 pointer-events-auto border-primary border-b border-t border-solid">
            <div class="text-center  flex justify-between space-x-6 z-10 isolate relative">
              <modal-opener data-modal="#filter-modal-{{ section.id }}">
                <button class="py-4  flex items-center px-3 hover:bg-base-200 group overflow-hidden">
                  <div class="font-bold">FILTER</div>
                  <div class="px-6">({{filterItemCount}})</div>
                  <div class="flex items-center relative">
                    <div class="filter-modal-{{ section.id }}-icon-plus">
                      {% include 'icon-plus' %}
                    </div>
                    <div class="filter-modal-{{ section.id }}-icon-minus absolute w-full h-full opacity-0 ">
                      {% include 'icon-minus' %}
                    </div>
                  </div>
                </button>
              </modal-opener>
              <div class="group relative">
                <button tabindex="-1" class="py-4 flex items-center px-3 hover:bg-base-200 ">
                  <div class="font-bold">SORT BY</div>
                  <div class="px-6">
                    {% assign sortByName = 'Featured' %}
                    {% for option in search.sort_options %}
                      {% if option.value == sort_by %} 
                        {% assign sortByName = option.name %}
                        {% else %}
                      {% endif %}
                    {% endfor %}
                    {{sortByName}}
                  </div>
                  <div class="flex relative items-center transform rotate-0 transition-transform group-focus-within:rotate-180">
                    <div class="opacity-100 group-focus-within:opacity-0 transition-opacity">
                      {% include 'icon-plus' %}
                    </div>
                    <div class="absolute w-full h-full opacity-0 group-focus-within:opacity-100 transition-opacity">
                      {% include 'icon-minus' %}
                    </div>
                  </div>
                </button>
                <div tabindex="-1" class="w-[200px] transition-all scale-0 group-focus-within:scale-100 origin-top-right opacity-0 group-focus-within:opacity-100 text-left cursor-pointer capitalize isolate invisible group-focus-within:visible absolute top-full right-0 bg-base-100 border border-black p-2 flex flex-col gap-2">
                  {% assign url = request.path | append : '?' %}
                    {% for filter in search.filters %}
                      {% if filter.active_values.size %}
                          {% assign active_values = filter.active_values | map:'value' | join:',' %}
                          {% if active_values != blank %}
                            {% assign url = url | append :filter.param_name | append :'=' | append :active_values %}
                          {% endif %}
                      {% endif %}
                  {% endfor %}
                  {% for option in search.sort_options %}
                    <div class="px-3 py-1 {% if option.value == sort_by %} bg-gray-200 {% endif %} hover:bg-gray-100">
                      <a href="{{url| sort_by :  option.value}}">{{ option.name }}</a>
                    </div>
                  {% endfor %}
                </div>
              </div>
              
            </div>
            
            <filter-modal class="w-full" id="filter-modal-{{ section.id }}" tabindex="-1">
              <style>
                #filter-modal-{{ section.id }}{
                  display:none;
                }
                #filter-modal-{{ section.id }}[open]{
                  display:block;
                }
              </style>
              <div class="bg-white animate__fadeIn animate__animated" role="dialog" aria-label="{{ 'products.modal.label' | t }}" aria-modal="true">
                <div class="w-full p-6 pt-8 border-t border-black">
                  
                  <form class="filter-form flex flex-col gap-6 gap-y-10">
                    <input
                      hidden
                      class="search__input field__input input input-lg flex-1"
                      id="Search-In-Template"
                      type="search"
                      name="q"
                      value="{{ search.terms | escape }}"
                      {% if search.performed %}autofocus{% endif %}
                      placeholder="{{ 'general.search.search' | t }}"
                    >
                    <div class="flex-1 grid gap-6 grid-cols-1 lg:grid-cols-3">
                      {%- for filter in search.filters -%}
                        {%- case filter.type -%}
                        {%- when 'list' -%}
                        <div class="filter-group space-y-3 order-1">
                            <div class="filter-group-summary py-2">
                              <div>
                                  <span class="text-2xl font-heading">{{ filter.label }} </span>
                                  {%- if filter.active_values.size > 0 -%}
                                  <span>({{ filter.active_values.size }})</span>
                                  {%- endif -%}
                                  {{' '}}
                                  {%- if filter.active_values.size > 0 -%}
                                    <a href="{{ filter.url_to_remove }}" class="underline text-opacity-80">Reset</a>
                                  {%- endif -%}
                              </div>
                            </div>
                            {% if filter.label == 'Size' %}
                              <ul class="mt-3 grid grid-cols-2 gap-3 ">
                              {% else %}
                              <ul class="space-y-3 mt-3">
                              {% endif %}
                              {%- for filter_value in filter.values -%}
                              <li class="flex items-baseline space-x-6 ">
                                  <label class="flex space-x-3 items-center" for="Filter-{{ filter.param_name }}-{{ forloop.index }}">
                                  <div class="h-[20px] flex items-center">
                                    <input type="checkbox"
                                    class="radio radio"
                                    name="{{ filter_value.param_name }}"
                                    value="{{ filter_value.value }}"
                                    id="Filter-{{ filter.param_name }}-{{ forloop.index }}"
                                    {% if filter_value.active -%}checked{%- endif %}
                                    {% if filter_value.count == 0 and filter_value.active == false -%}disabled{%- endif %}
                                    >
                                  </div>
                                  <span class="leading-[20px]">{{ filter_value.label }}</span></label>
                              </li>
                              {%- endfor -%}
                            </ul>
                        </div>
                        {%- when 'price_range' -%}
                        <div class="filter-group-display__price-range space-y-3 order-2">
                            <div class="filter-group-summary py-2">
                              <div>
                                  <span class="text-2xl font-heading">{{ filter.label }} ({{ cart.currency.iso_code }})</span>
                              </div>
                            </div>
                            <div class="flex space-x-3">
                              <div class="filter-group-display__price-range-from flex-1 flex space-x-3 items-baseline">
                                <label for="Filter-{{ filter.min_value.param_name }}">From</label>
                                <input class="input input-bordered input-sm flex-1" name="{{ filter.min_value.param_name }}"
                                id="Filter-{{ filter.min_value.param_name }}"
                                {% if filter.min_value.value -%}
                                value="{{ filter.min_value.value | money_without_currency | replace: ',', '' }}"
                                {%- endif %}
                                type="number"
                                placeholder="0"
                                min="0"
                                max="{{ filter.range_max | money_without_currency | replace: ',', '' }}"
                                >
                                
                              </div>
                              <div class="filter-group-display__price-range-to flex-1 flex space-x-3 items-baseline">
                                <label for="Filter-{{ filter.max_value.param_name }}">To</label>
                                <input class="input input-bordered input-sm flex-1" name="{{ filter.max_value.param_name }}"
                                id="Filter-{{ filter.max_value.param_name }}"
                                {% if filter.max_value.value -%}
                                value="{{ filter.max_value.value | money_without_currency | replace: ',', '' }}"
                                {%- endif %}
                                type="number"
                                placeholder="{{ filter.range_max | money_without_currency | replace: ',', '' }}"
                                min="0"
                                max="{{ filter.range_max | money_without_currency | replace: ',', '' }}"
                                >
                                
                              </div>
                            </div>
                            <div>Maximum: {{ filter.range_max | money_with_currency  }}</div>
                        </div>
                        {%- endcase -%}
                      {%- endfor -%}
                    </div>
                    <div class="flex gap-3 justify-end">
                          <a href="{{ search.url }}?sort_by={{ search.sort_by }}" class="btn btn-outline">Clear all</a>
                          <div class=" filter-group-display__submit">
                             <input class="btn min-w-[100px]" type="submit" value="Apply">
                          </div>
                    </div>
                  </form>
                </div>
              </div>
            </filter-modal>
           
          </div>
        </div>
        <div class="active-filters py-2 flex flex-wrap gap-3">
          
          {{filterItems}}
          {% if showclearBtn %}
            <a href="{{ request.path }}?sort_by={{ search.sort_by }}" class="btn btn-sm btn-outline active-filters__clear">Clear all</a>
          {% endif %}
        </div>
        {%- paginate search.results by 12-%}
        <div class="grid gap-6 grid-cols-2 lg:grid-cols-4 ">
          {% for product in search.results %}
            {% render '[product]-card' product:product class: '' %}
          {% endfor %}
        </div>
        {%- if paginate.pages > 1 -%}
          {% render 'pagination', paginate: paginate, anchor: '', class: '' %}
        {%- endif -%}
        {%- endpaginate -%}
      </div>
    </div>
  </div>
</div>
{% javascript %}

class FilterModal extends ModalDialog {
    constructor() {
        super();
    }
    hide() {
        super.hide();
    }

    show(opener) {
        if (this.hasAttribute('open')) {
            super.hide();
        } else {
            super.show(opener);
        }
    }
}
customElements.define('filter-modal', FilterModal);

{% endjavascript %}
{{ 'global.js' | asset_url | script_tag }}


{% schema %}
{
  "name": "t:sections.main-search.name",
  "tag": "section",
  "class": "spaced-section",
  "settings": [
    {
      "type": "header",
      "content": "t:sections.main-search.settings.header__1.content"
    },
    {
      "type": "select",
      "id": "image_ratio",
      "options": [
        {
          "value": "adapt",
          "label": "t:sections.main-search.settings.image_ratio.options__1.label"
        },
        {
          "value": "portrait",
          "label": "t:sections.main-search.settings.image_ratio.options__2.label"
        },
        {
          "value": "square",
          "label": "t:sections.main-search.settings.image_ratio.options__3.label"
        }
      ],
      "default": "adapt",
      "label": "t:sections.main-search.settings.image_ratio.label"
    },
    {
      "type": "checkbox",
      "id": "show_secondary_image",
      "default": false,
      "label": "t:sections.main-search.settings.show_secondary_image.label"
    },
    {
      "type": "checkbox",
      "id": "add_image_padding",
      "default": false,
      "label": "t:sections.main-search.settings.add_image_padding.label"
    },
    {
      "type": "checkbox",
      "id": "show_image_outline",
      "default": true,
      "label": "t:sections.main-search.settings.show_image_outline.label"
    },
    {
      "type": "checkbox",
      "id": "show_vendor",
      "default": false,
      "label": "t:sections.main-search.settings.show_vendor.label"
    },
    {
      "type": "header",
      "content": "t:sections.main-search.settings.header__2.content"
    },
    {
      "type": "checkbox",
      "id": "article_show_date",
      "default": true,
      "label": "t:sections.main-search.settings.article_show_date.label"
    },
    {
      "type": "checkbox",
      "id": "article_show_author",
      "default": false,
      "label": "t:sections.main-search.settings.article_show_author.label"
    }
  ]
}
{% endschema %}
