<!doctype html>
<html data-theme="retro" class="no-js" lang="{{ request.locale.iso_code }}">

    <head>
        <meta charset="utf-8">
        <meta content="IE=edge" http-equiv="X-UA-Compatible">
        <meta content="width=device-width,initial-scale=1" name="viewport">
        <meta content="" name="theme-color">
        <link rel="canonical" href="{{ canonical_url }}">
        <link crossorigin href="https://cdn.shopify.com" rel="preconnect">

        {%- if settings.favicon != blank -%}
            <link rel="icon" type="image/png" href="{{ settings.favicon | img_url: '32x32' }}">
        {%- endif -%}

        {%- unless settings.type_header_font.system? and settings.type_body_font.system? -%}
            <link crossorigin href="https://fonts.shopifycdn.com" rel="preconnect">
        {%- endunless -%}

        <title>{{ page_title }}</title>

        {% if page_description %}
            <meta name="description" content="{{ page_description | escape }}">
        {% endif %}

        {% render 'meta-tags' %}


        {{ content_for_header }}

    

        <style>
            

        *,
        *::before,
        *::after {
            box-sizing: inherit;
        }

        html {
            box-sizing: border-box;
            height: 100%;
        }

        body {
            display: grid;
            grid-template-rows: auto auto 1fr auto;
            grid-template-columns: 100%;
            min-height: 100%;
            margin: 0;
            letter-spacing: 0.06rem;
            line-height: 1.8;
            font-family: var(--font-body-family);
            font-style: var(--font-body-style);
            font-weight: var(--font-body-weight);
        }

        @media screen and(min-width: 750px) {
            body {
                font-size: 1.6rem;
            }
        }

        </style>

        <!-- {{ 'base.css' | asset_url | stylesheet_tag }} -->
        {{ 'style.css' | asset_url | stylesheet_tag }}

        {%- unless settings.type_body_font.system? -%}
            <link rel="preload" as="font" href="{{ settings.type_body_font | font_url }}" type="font/woff2" crossorigin>
        {%- endunless -%}
        {%- unless settings.type_header_font.system? -%}
            <link rel="preload" as="font" href="{{ settings.type_header_font | font_url }}" type="font/woff2" crossorigin>
        {%- endunless -%}
        
        {%- liquid
            assign body_font_bold = settings.type_body_font | font_modify: 'weight', 'bold'
            assign body_font_italic = settings.type_body_font | font_modify: 'style', 'italic'
            assign body_font_bold_italic = body_font_bold | font_modify: 'style', 'italic'
          %}  
    {% style %}
    
    {{ settings.type_body_font | font_face: font_display: 'swap' }}
    {{ body_font_bold | font_face: font_display: 'swap' }}
    {{ body_font_italic | font_face: font_display: 'swap' }}
    {{ body_font_bold_italic | font_face: font_display: 'swap' }}
    {{ settings.type_header_font | font_face: font_display: 'swap' }}
    :root{
        
        {% if settings.custom_font %}
            --font-body-family: {{ settings.type_body_font.family }}, {{ settings.type_body_font.fallback_families }};
            --font-body-style: {{ settings.type_body_font.style }};
            --font-body-weight: {{ settings.type_body_font.weight }};

            --font-heading-family: {{ settings.type_header_font.family }}, {{ settings.type_header_font.fallback_families }};
            --font-heading-style: {{ settings.type_header_font.style }};
            --font-heading-weight: {{ settings.type_header_font.weight }};
        {% else %}
            --font-body-family:"Gramatika" ,{{ settings.type_body_font.fallback_families }};
            --font-body-style: {{settings.type_body_font.style}};
            --font-body-weight: {{settings.type_body_font.weight}};
            --font-heading-family: "Vanitas", {{ settings.type_header_font.fallback_families }};
            --font-heading-style: {{settings.type_header_font.style}};
            --font-heading-weight: {{settings.type_header_font.weight}};
        {% endif %}
                

        --p: {{settings.colors_primary.hue}} {{settings.colors_primary.saturation}}% {{settings.colors_primary.lightness}}%;
        --pf: {{settings.colors_primary_focus.hue}} {{settings.colors_primary_focus.saturation}}% {{settings.colors_primary_focus.lightness}}%;
        --pc: {{settings.colors_primary_content.hue}} {{settings.colors_primary.satur_contentation}}% {{settings.colors_primary_content.lightness}}%;
        --s: {{settings.colors_secondary.hue}} {{settings.colors_secondary.saturation}}% {{settings.colors_secondary.lightness}}%;
        --sf: {{settings.colors_secondary_focus.hue}} {{settings.colors_secondary_focus.saturation}}% {{settings.colors_secondary_focus.lightness}}%;
        --sc: {{settings.colors_secondary_content.hue}} {{settings.colors_secondary.satur_contentation}}% {{settings.colors_secondary_content.lightness}}%;
        --a: {{settings.colors_accent.hue}} {{settings.colors_accent.saturation}}% {{settings.colors_accent.lightness}}%;
        --af: {{settings.colors_accent_focus.hue}} {{settings.colors_accent_focus.saturation}}% {{settings.colors_accent_focus.lightness}}%;
        --ac: {{settings.colors_accent_content.hue}} {{settings.colors_accent.satur_contentation}}% {{settings.colors_accent_content.lightness}}%;
        --n: {{settings.colors_neutral.hue}} {{settings.colors_neutral.saturation}}% {{settings.colors_neutral.lightness}}%;
        --nf: {{settings.colors_neutral_focus.hue}} {{settings.colors_neutral_focus.saturation}}% {{settings.colors_neutral_focus.lightness}}%;
        --nc: {{settings.colors_neutral_content.hue}} {{settings.colors_neutral_content.saturation}}% {{settings.colors_neutral_content.lightness}}%;
        --b1: {{settings.colors_base_100.hue}} {{settings.colors_base_100.saturation}}% {{settings.colors_base_100.lightness}}%;
        --b2: {{settings.colors_base_200.hue}} {{settings.colors_base_200.saturation}}% {{settings.colors_base_200.lightness}}%;
        --b3: {{settings.colors_base_300.hue}} {{settings.colors_base_300.saturation}}% {{settings.colors_base_300.lightness}}%;
        --bc: {{settings.colors_base_content.hue}} {{settings.colors_base_content.saturation}}% {{settings.colors_base_content.lightness}}%;
        --in: {{settings.colors_info.hue}} {{settings.colors_info.saturation}}% {{settings.colors_info.lightness}}%;
        --su: {{settings.colors_success.hue}} {{settings.colors_success.saturation}}% {{settings.colors_success.lightness}}%;
        --wa: {{settings.colors_warning.hue}} {{settings.colors_warning.saturation}}% {{settings.colors_warning.lightness}}%;
        --er: {{settings.colors_error.hue}} {{settings.colors_error.saturation}}% {{settings.colors_error.lightness}}%;
        
        --border-color: var(--b3);
        --rounded-box: 1rem;
        --rounded-btn: 0rem;
        --rounded-badge: 1.9rem;
        --animation-btn: 0.25s;
        --animation-input: .2s;
        --btn-text-case: uppercase;
        --btn-focus-scale: 0.95;
        --navbar-padding: .5rem;
        --border-btn: 1px;
        --tab-border: 1px;
        --tab-radius: 0.5rem;

        --in: 207 89.8% 53.9%;
        --su: 174 100% 29%;
        --wa: 36 100% 50%;
        --er: 14 100% 57.1%;
        --border-color: var(--b3);
        --animation-btn: 0.25s;
        --animation-input: .2s;
        --btn-text-case: uppercase;
        --btn-focus-scale: 0.95;
        --navbar-padding: .5rem;
        --border-btn: 1px;
        --tab-border: 1px;

    }   
    {% endstyle %}
    <script>document.documentElement.className = document.documentElement.className.replace('no-js', 'js');</script>
    </head>

    <body>
        <script src="{{ 'visible-animate.js' | asset_url }}" defer="defer"></script>
        <script src="{{ 'global.js' | asset_url }}" defer="defer"></script>
        <script src="{{ 'accordion.js' | asset_url }}" defer="defer"></script>
        <script src="{{ 'product-form.js' | asset_url }}" defer="defer"></script>
        <a class="skip-to-content-link button visually-hidden" href="#MainContent">
            {{ "accessibility.skip_to_text" | t }}
        </a>
        {% section 'announcement-bar' %}
        {% section 'header' %}

        <main class="min-h-screen content-for-layout focus-none" id="MainContent" role="main" tabindex="-1">
            {{ content_for_layout }}
        </main>

        {% section 'footer' %}

        <ul hidden>
            <li id="a11y-refresh-page-message">{{ 'accessibility.refresh_page' | t }}</li>
        </ul>

        <script>
            window.routes = {
                cart_add_url: '{{ routes.cart_add_url }}',
                cart_change_url: '{{ routes.cart_change_url }}',
                cart_update_url: '{{ routes.cart_update_url }}'
            };

            window.cartStrings = {
                error: `{{ 'sections.cart.cart_error' | t }}`,
                quantityError: `{{ 'sections.cart.cart_quantity_error_html' | t }}`
            }

            window.variantStrings = {
            addToCart: `{{ 'products.product.add_to_cart' | t }}`,
            soldOut: `{{ 'products.product.sold_out' | t }}`,
            unavailable: `{{ 'products.product.unavailable' | t }}`,
            }
        </script>
    </body>

</html>
